@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

/* Стилизация самого скроллбара */
::-webkit-scrollbar {
    width: 8px; /* Ширина вертикального скроллбара */
    height: 8px; /* Высота горизонтального скроллбара */
}

/* Стилизация ползунка скроллбара */
::-webkit-scrollbar-thumb {
    background: #33374B; /* Цвет ползунка */
    border-radius: 6px; /* Закругленные края ползунка */
}

/* Стилизация области скроллбара (трек) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет области скроллбара */
    border-radius: 6px; /* Закругленные края трека */
}

/* Стилизация при наведении на ползунок */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет ползунка при наведении */
}
