<script setup>
import {ACCOUNT, APIURL, getAuthToken, getCsrfToken, getIdFromUrl} from "@/connectApi.js";
import axios from "axios";
import {ref} from "vue";

let OldPass = ref(''), NewPass = ref(''), ConfNewPass = ref('');
let id = getIdFromUrl(), errorMessagePass = ref('');

let changePassword = () => {
  let formData = {
        old_password: OldPass.value,
        new_password: NewPass.value,
        confirm_password: ConfNewPass.value
      },
      headers = {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCsrfToken(),
        'Authorization': getAuthToken()
      };
  axios.post(`${ACCOUNT}/password_change/${id}`, formData, {headers: headers}).then(response => {
    window.location.href = '/login'
  }).catch(error => {
    errorMessagePass.value = 'Пароли не совпадают.'
  })
};
</script>

<template>
  <div class="body">
    <div class="divForm shadow-md ">
      <form class="grid grid-cols-3 gap-6 p-8 mt-10" @submit.prevent="changePassword">
        <input v-model="OldPass"
               class="col-span-3 size-20 p-1 rounded border border-gray-300 w-full h-12" type="password"
               placeholder="Старый пароль">
        <input v-model="NewPass" class="col-span-3 size-20 p-1 rounded border border-gray-300 w-full h-12"
               type="password" placeholder="Новый пароль">
        <input v-model="ConfNewPass" class="col-span-3 size-20 p-1 rounded border border-gray-300 w-full h-12"
               type="password" placeholder="Подтвердите новый пароль">
        <p class="text-center col-span-3 text-red-500">{{ errorMessagePass }}</p>
        <button type="submit" class="col-span-3">{{ $t('change_password') }}</button>
      </form>
    </div>
  </div>

</template>

<style scoped>
.body {
  background-color: #F7ECDA;
  background-image: url("@/assets/index/Vector.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 90px 50px;
}

.divForm {
  background-image: url("@/assets/index/Vector.png");
  background-color: #33374B;
  margin-right: 30%;
  margin-left: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 50px;
}

form {
  padding: 20% 20%;
}

button {
  margin-top: 20px;
  padding: 13px 29px 13px 29px;
  color: #FFFFFF;
  border-radius: 80px;
  border: 1px solid #DABB8F;
  font-size: 16px;
  font-family: Golos Text, serif;
  font-weight: 600;
}
</style>