<template>
  <div v-if="surveyModalVisible">
    <SurvayModalProfile :userId="userId"/>
  </div>

  <div class="body">
    <div class="profileHeader">
      <div class="avatar">
        <img :src="avatar" alt="">
      </div>
      <div class="profile">
        <h1 class="profileEmail">{{ email }}</h1>
        <p class="profilePhone">{{ phone }}</p>
      </div>
      <div v-if="isYouProfile" class="setting">
         <fwb-dropdown :text="setting" class="fwb-dropdown">
          <fwb-list-group>
            <fwb-list-group-item class="dropdown-item">
              <button @click="hrefToMyTree">{{ $t('_maintree') }}</button>
            </fwb-list-group-item>
            <fwb-list-group-item class="dropdown-item">
               <button @click="hrefSetting">{{ $t('edit') }}</button>
            </fwb-list-group-item>
            <fwb-list-group-item class="dropdown-item">
               <button @click="hrefChangePass">{{ $t('change_password') }}</button>
            </fwb-list-group-item>
          </fwb-list-group>
        </fwb-dropdown>
      </div>
    </div>

  </div>

</template>

<script setup>
import {onMounted, ref} from 'vue';
import axios from 'axios';
import {ACCOUNT, APIURL, FAMILYTREE, getAuthToken, getCurrentUserId, getIdFromUrl} from '@/connectApi.js';
import SurvayModalProfile from "../SurvayModalProfile.vue";
import { FwbDropdown, FwbListGroup, FwbListGroupItem } from 'flowbite-vue'
import router from "@/router.js";

let id = getIdFromUrl();
let userId = ref(id);

let phone = ref(''),
    email = ref(''),
    surveyModalVisible = ref(false),
    avatar = ref(''),
    setting = ref('Настройки'),
    isYouProfile = ref(false);

let headers = {
  'Content-Type': 'application/json',
  'Authorization': getAuthToken()
};

let fetchUserData = async () => {
  try {
    const response = await axios.get(`${ACCOUNT}/get_user/${userId.value}`, { headers });
    let data = response.data;
    if(data.user.id === await getCurrentUserId()){
      isYouProfile.value = true;
    }
    phone.value = data.user.phone;
    email.value = data.user.email;
    avatar.value = data.profile.avatar;

    if (data.profile.house === null) {
      surveyModalVisible.value = true;
    }
  } catch (error) {
    console.error(error);
  }
};

onMounted(fetchUserData);
let hrefToMyTree = () => {
  router.push(`/mytree/${userId.value}`)
}
let hrefSetting = () => {
  router.push(`/profile/setting/${userId.value}`);
}
let hrefChangePass = () => {
  router.push(`/change-password/${userId.value}`);
}

</script>

<style scoped>
.body {
  background-color: #F7ECDA;
  background-image: url("@/assets/index/Vector.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 90px 50px;

}

.profileHeader {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("@/assets/index/Vector.png");
  background-color: #33374B;
  border-radius: 50px;
  position: relative;
}

.avatar {

}

.avatar img {
  margin-left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile {
  margin-top: 150px;
  margin-left: 20px;
}

.profileEmail {
  font-size: 20px;
  color: #f0f0f0;
}

.profilePhone {
  font-size: 16px;
  color: #f0f0f0;
}

.setting {
  position: absolute;
  top: 80%;
  right: 10%;
  transform: translateY(-50%);
}
.dropdown-menu {
  background-color: #33374B;
  border: none;
}
.fwb-dropdown {
  background-color: #33374B;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}
.dropdown-item {
  font-size: 12px;
}
</style>
