<script setup>
import {ref, onMounted, h} from 'vue';
import {APIURL, getCsrfToken, getIdFromUrl, getAuthToken, ACCOUNT} from "@/connectApi.js";
import axios from "axios";

let phone = ref(''),
    email = ref(''),
    errorMessage = ref(''),
    id = getIdFromUrl(),
    avatar = ref(null);

let fetchData = async () => {
  let headers = {
  'Content-Type': 'application/json',
  'Authorization': getAuthToken()
};
  await axios.get(`${ACCOUNT}/get_user/${id}`, {headers})
      .then(response => {
        phone.value = response.data.user.phone;
        email.value = response.data.user.email;
      }).catch(error => {
        errorMessage.value = 'Ошибка ввода. Проверьте еще раз.';
        console.error(error);
      })
};

let userModelSubmit = () => {
  let formData = {
        email: email.value,
        phone: phone.value
      },
      headers = {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCsrfToken(),
        'Authorization': getAuthToken()
      };
  axios.patch(`${ACCOUNT}/get_user/${id}`, formData, {headers: headers})
      .then(response => errorMessage.value = 'Сохранено')
      .catch(error => errorMessage.value = 'Ошибка ввода. Проверьте еще раз.');
};

let handleFileUpload = (event) => {
  console.log(event.target.files);
  avatar.value = event.target.files;

  let formData = new FormData();
  for (let i = 0; i < avatar.value.length; i++) {
    formData.append('avatar_write', avatar.value[i]);
  }
};

let updatePhoto = async () => {
  try {
    let formData = new FormData(),
        headers = {
          'X-CSRFToken': getCsrfToken(),
          'Authorization': getAuthToken()
        };
    for (let i = 0; i < avatar.value.length; i++) {
      formData.append('avatar_write', avatar.value[i]);
    }
    await axios.patch(`${ACCOUNT}/update-photo/${id}`, formData, {headers});
  } catch (error) {
    errorMessage.value = 'Ошибка ввода. Проверьте еще раз.';
    console.error(error);
  }
};

fetchData()
</script>

<template>
  <div class="body">
    <div class="divForm shadow-md ">
      <form class="uploadFileDiv grid grid-cols-2 gap-6 p-8" id="uploadForm" enctype="multipart/form-data"
            @submit.prevent="updatePhoto">
        <p>{{ $t('change_avatar') }}Сменить аватар</p>
        <input class="col-span-2" type="file" name="files" multiple @change="handleFileUpload">
        <button class="col-span-2" type="submit">{{ $t('save') }}Сохранить</button>
      </form>

      <form class="uploadFileDiv formClass grid grid-cols-2 gap-6 p-8" @submit.prevent="userModelSubmit">
        <p>{{ $t('personal_data') }}Личные данные</p>
        <input v-model="phone" class="col-span-2 size-20 p-1 rounded border border-gray-300 w-full h-12" type="text"
               placeholder="+77071112233" required>
        <input v-model="email" class="col-span-2 size-20 p-1 rounded border border-gray-300 w-full h-12" type="email"
               placeholder="Email" required>
        <p class="text-red-500">{{ errorMessage }}</p>
        <button type="submit" class="col-span-2 text-center">{{ $t('save') }}Сохранить</button>
      </form>
    </div>
  </div>
</template>

<style scoped>

.body {
  background-color: #F7ECDA;
  background-image: url("@/assets/index/Vector.png");
  height: 130vh;
  padding: 90px 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.divForm {
  background-image: url("@/assets/index/Vector.png");
  background-color: #33374B;
  margin-right: 30%;
  margin-left: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  border-radius: 50px;
}

.uploadFileDiv {
  color: #f0f0f0;
  padding: 10% 10%;
}

input {
  border-radius: 50px;
  padding-left: 10px;
}

.formClass {
  color: #33374B;
}

button {
  margin-top: 20px;
  padding: 13px 29px 13px 29px;
  color: #FFFFFF;
  border-radius: 80px;
  border: 1px solid #DABB8F;
  font-family: Golos Text, serif;
  font-weight: 600;
}

p {
  font-size: 16px;
  color: #f0f0f0;
}
</style>