<template>
  <div class="editPost">
    <form class="formArticle" @submit.prevent="submitForm">
      <div class="title">
        <label class="labelInput">{{ $t('l_title') }}</label>
        <br>
        <input class="inputTitle" type="text" v-model="title" required>
      </div>
      <div class="photo">
        <label class="labelInput">{{ $t('_photo') }}</label>
        <br>
        <input type="file" name="files" style="border-radius: 10px" multiple @change="handleFileUpload">
      </div>
      <div class="tags">
        <label class="labelInput">{{ $t('l_tags') }}</label>
        <div v-for="tag in tags" :key="tag.id">
          <input
              type="checkbox"
              :id="tag.id"
              :value="tag.id"
              v-model="selectedTags">
          <label :for="tag.id">{{ tag.name }}</label>
        </div>
      </div>
      <div class="article-text">
        <label class="labelInput">{{ $t('l_text') }}</label>
        <br>
        <textarea v-model="articleText" required></textarea>
      </div>
      <button type="submit">{{ $t('_send') }}</button>
    </form>
  </div>
</template>

<script setup>
import {ref, onMounted} from 'vue';
import axios from 'axios';
import {ARTICLE, getAuthToken, getCsrfToken, getCurrentUserId, getIdFromUrl} from "@/connectApi.js";
import router from "@/router.js";
let tags = ref([]),
    title = ref(''),
    selectedTags = ref([]),
    articleText = ref(''),
    photo = ref('Выберите фото на фон'),
    photoFile = ref(null),
    postId = getIdFromUrl();


if (postId !== 'edit') {
  axios.get(`${ARTICLE}/post/${postId}`)
      .then(response => {
        title.value = response.data.title;
        selectedTags.value = response.data.tag;
        articleText.value = response.data.text
      })
}
let getTags = async () => {
  try {
    let response = await axios.get(`${ARTICLE}/tag/`);
    tags.value = response.data;
  } catch (error) {
    console.error('Error fetching tags:', error);
  }
};

onMounted(async () => {
  await getTags();
});

let handleFileUpload = (event) => {
  photoFile.value = event.target.files;
};

let submitForm = async () => {
  try {
    console.log(postId);
    let formData = {
      title: title.value,
      tag: selectedTags.value.map(tags => tags),
      text: articleText.value,
      user: await getCurrentUserId()
    };
    let csrf = getCsrfToken();
    let authToken = getAuthToken();
    let headers = {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrf,
      'Authorization': authToken
    };

    let response, articleId;

    if(postId === 'edit'){
      response = await axios.post(`${ARTICLE}/post/`, formData, {headers});
      articleId = response.data.id;
    }
    else{
      response = await axios.patch(`${ARTICLE}/post/${postId}/`, formData, {headers});
      articleId = postId;
    }

    if (photoFile.value && photoFile.value.length > 0) {
      let formDataFile = new FormData();
      for (let i = 0; i < photoFile.value.length; i++) {
        formDataFile.append('image_write', photoFile.value[i]);
      }

      let uploadHeaders = {
        'X-CSRFToken': csrf,
        'Authorization': authToken
      };

      await axios.post(`${ARTICLE}/get-posts-photo/${articleId}`, formDataFile, {headers: uploadHeaders});
      await router.push('/posts');
    } else {
      await router.push('/posts');
      console.log('No photos to upload.');
    }
  } catch (error) {
    console.error('Error submitting form:', error);
  }
};
</script>

<style scoped>
.editPost {
  background-color: #F7ECDA;
  background-image: url("@/assets/index/Vector.png");
}

.formArticle {
  padding: 100px 95px;
  text-align: center;
}

textarea {
  width: 1000px;
  height: 500px;
  border-radius: 10px;
  resize: none;
}

.labelInput {
  font-size: 20px;
}

.inputTitle {
  width: 1000px;
  border-radius: 10px;
}
</style>
