<template>
  <div class="body">
    <div class="container mx-auto py-10">
      <div v-if="error" class="error mb-4">{{ error }}</div>
      <div v-else>
        <div v-if="article" class="p-6 bg-white rounded-lg shadow-md">
          <h2 class="text-2xl font-semibold mb-4">{{ article.title }}</h2>
          <div class="mb-4 postText">{{ article.text }}</div>
          <router-link v-if="isStaff" :to="'/edit/' + article.id" class="text-blue-500 "><strong>{{ $t('edit') }}</strong></router-link>
          <button v-if="isStaff" @click="showModal = true" class="text-red-500 py-2 px-4">{{ $t('delete') }}</button>
          <div class="comments">
            <h3>{{ $t('comments') }}:</h3>
          </div>
          <div class="commentAddField">
            <form @submit.prevent="sendComment">
              <textarea style="  border: 1px solid #daae80;" v-model="commentText" required
                        class="commentText"></textarea>
              <br>
              <button type="submit">{{ $t('send') }}</button>
            </form>
          </div>
          <div class="commentList">
            <div v-if="comment.length > 0">
              <div class="comments" v-for="c in comment" :key="c.id">
                <div class="card flex items-start p-4 bg-white rounded-lg shadow-md mb-4">
                  <div class="content">
                    <h5 class="card-title text-lg font-semibold">{{ c.user_info.email }}</h5>
                    <p class="card-text text-gray-700">{{ c.text }}</p>
                    <p class="card-text text-sm text-gray-500"><small>{{ c.created_at }}</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div v-else class="no-comments text-gray-500">
              <p>{{ $t('no_comment_yet') }}</p>
            </div>
          </div>
        </div>
        <div v-else class="text-center">{{ $t('article_not_found') }}</div>
      </div>

      <div v-if="showModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
        <div class="bg-white p-6 rounded shadow-md max-w-sm w-full">
          <h3 class="text-xl font-semibold mb-4">{{ $t('confirm_delete') }}</h3>
          <p class="mb-4">{{ $t('confirm_delete_question') }}</p>
          <div class="flex justify-end">
            <button @click="showModal = false" class="bg-gray-500 text-white py-2 px-4 rounded mr-2">{{ $t('cancel') }}</button>
            <button @click="deleteArticle" class="bg-red-500 text-white py-2 px-4 rounded">{{ $t('delete') }}</button>
          </div>
        </div>
      </div>

    </div>
  </div>

</template>


<script setup>
import {ref, onMounted, h} from 'vue';
import axios from 'axios';
import {useRoute, useRouter} from 'vue-router';

import {ARTICLE, getAuthToken, getCsrfToken, getCurrentUserId, getIdFromUrl, isStaffUser} from '@/connectApi.js';

let article = ref(null),
    error = ref(''),
    route = useRoute(),
    router = useRouter(),
    showModal = ref(false),
    commentText = ref(''),
    comment = ref(0),
    id = getIdFromUrl(),
    isStaff = ref(false);
let fetchArticle = (postId) => {
  axios.get(`${ARTICLE}/post/${postId}`)
      .then(response => {
        article.value = response.data;
      })
      .catch(err => {
        error.value = 'Failed to fetch article';
        console.error('Error fetching article:', err);
      });
};

let fetchCommentByArticle = async (postId) => {
  await axios.get(`${ARTICLE}/comment/`, {params: {post_id: postId}})
      .then(response => comment.value = response.data)
      .catch(error => console.log(error))
}

let sendComment = async () => {
  let csrf = getCsrfToken(),
      authToken = getAuthToken(),
      headers = {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrf,
        'Authorization': authToken
      },
      formData = {
        post: id,
        user: await getCurrentUserId(),
        text: commentText.value
      }
  await axios.post(`${ARTICLE}/comment/`, formData, {headers: headers})
      .then(response => {
        commentText.value = '';
        fetchCommentByArticle(id);
      })
      .catch(error => {
        console.log(error);
      });
}
const deleteArticle = () => {
  if (article.value) {
    let csrf = getCsrfToken(),
        authToken = getAuthToken(),
        headers = {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrf,
          'Authorization': authToken
        };
    axios.delete(`${ARTICLE}/post/${article.value.id}`, null, {headers: headers})
        .then(() => {
          showModal.value = false;
          router.push('/posts');
        })
        .catch(err => {
          error.value = 'Failed to delete article';
          console.error('Error deleting article:', err);
        });
  }
};

onMounted(async () => {
  fetchArticle(id);
  await fetchCommentByArticle(id)
  isStaff.value = await isStaffUser();
});
</script>

<style scoped>
.container {
  max-width: 1000px;
}

.error {
  color: red;
}

.postText {
  word-wrap: break-word;
}

.body {
  min-height: 100vh;
  background-color: #F7ECDA;
  background-image: url("@/assets/index/Vector.png");
}

.commentText {
  border-radius: 10px;
  width: 100%;
  height: 50px;
  resize: none;
}

.card {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #daae80;
  display: flex;
  align-items: flex-start;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card .content {
  margin-left: 15px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.card-text {
  font-size: 1rem;
  color: #333;
  word-wrap: break-word;

}

.card-text small {
  color: #666;
}

.commentList {
  margin-top: 20px;
}
</style>
