<template>
  <div class="body flex justify-between gap-3">
    <div class="filter p-6 bg-white rounded-lg shadow-md">
      <ul>
        <li><p>{{ $t('filter') }}</p></li>
        <li v-for="tag in tags" :key="tag.id">
          <button @click="filterArticles(tag.name)">{{tag.name}}</button>
        </li>
      </ul>
    </div>
    <div class="container mx-auto py-10">
      <div v-if="error" class="error mb-4">{{ error }}</div>
      <div v-else class="space-y-5">
        <div v-for="article in articles" :key="article.id" class="p-6 bg-white rounded-lg shadow-md article">
          <h2 class="text-2xl font-semibold mb-4">{{ article.title }}</h2>
          <div class="mb-4 postText">{{ article.text && truncateText(article.text, 800) }}</div>
          <a :href="'/post/' + article.id" class="details-link">{{ $t('detail') }}...</a>
          <h6 class="updated-at mt-5">{{ article.updated_at }}</h6>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import { ARTICLE } from '@/connectApi.js';

let articles = ref([]),
    error = ref(''),
    tags = ref([]),
    currentTag = ref('');

let fetchTag = () => {
  axios.get(`${ARTICLE}/tag/`).then(response => tags.value = response.data)
}

let fetchArticles = (query = '') => {
  let url = `${ARTICLE}/post/`;
  if (query) {
    url += `?query=${query}`;
  }
  axios.get(url)
      .then(response => {
        console.log(response)
        articles.value = response.data;
      })
      .catch(err => {
        error.value = 'Failed to fetch articles';
        console.error('Error fetching articles:', err);
      });
};

let filterArticles = (tag) => {
  currentTag.value = tag;
  fetchArticles(tag);
};

onMounted(() => {
  fetchArticles();
  fetchTag();
});

let truncateText = (text, maxLength) => {
  if (text.length > maxLength) {
    return text.slice(0, maxLength) + '...';
  }
  return text;
};
</script>

<style scoped>
.container {
  max-width: 1000px;
}

.error {
  color: red;
}

.details-link {
  color: gray;
  text-decoration: none;
  cursor: default;
}

.details-link:hover {
  color: black;
}

.updated-at {
  color: gray;
  font-size: 14px;
}

.body {
  min-height: 100vh;
  background-color: #F7ECDA;
  background-image: url("@/assets/index/Vector.png");
}

.article {
  background-image: url("@/assets/index/Group _40258.png");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: right bottom;
}

.filter {
  margin-top: 20px;
  margin-left: 20px;
  height: 200px;
  width: 200px;
  background-image: url("@/assets/index/Group _40258.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right bottom;
}
</style>
