<template>
  <Header/>
  <PostDetail/>
  <Footer/>
</template>

<script setup>
import Header from "@/components/header.vue";
import PostDetail from "@/components/article/postDetail.vue";
import Footer from "@/components/index/Footer.vue";

</script>
