<template>
  <Header/>
   <PostList/>
  <Footer/>
</template>

<script setup>

import Header from "@/components/header.vue";
import PostList from "@/components/article/postList.vue";
import Footer from "@/components/index/Footer.vue";
</script>
