<template>
  <Header/>
   <NikitaEditor/>
  <Footer/>
</template>

<script setup>
import NikitaEditor from '@/components/article/postEdit.vue'
import Header from "@/components/header.vue";
import Footer from "@/components/index/Footer.vue";
</script>
