<template>
  <Index/>
  <Login/>
</template>

<script setup>
import Login from "../../components/RegLogRes/login.vue"
import Index from "@/views/index/Index.vue";


</script>

<style scoped>

</style>