<script setup>
import Registration from "../../components/RegLogRes/registration.vue";
import Index from "@/views/index/Index.vue";
</script>

<template>
  <Index/>
  <Registration/>
</template>

<style scoped>

</style>