<script setup>
import Header from "../../components/header.vue";
import ResetPass from "../../components/RegLogRes/ResetPass.vue";
</script>

<template>
  <Header/>
  <ResetPass/>
</template>

<style scoped>

</style>