<script setup>
import Header from "../../components/header.vue";
import ResetPassConfirm from "../../components/RegLogRes/ResetPassConfirm.vue";
</script>

<template>
<Header/>
  <ResetPassConfirm/>
</template>

<style scoped>

</style>