<template>
  <Header/>
  <Admin/>
</template>

<script setup>
import Header from "../components/header.vue";
import Admin from "../components/admin.vue";
</script>

<style scoped>
/* Add your styles here */
</style>

