<template>
  <Header/>
  <Requests/>
</template>

<script setup>
import Header from "../components/header.vue";
import Requests from "../components/admin_requests.vue";
</script>

<style scoped>
/* Add your styles here */
</style>