<template>
    <Header />
  <IndexBody/>
</template>

<script setup>
import Header from "../components/header.vue";
import IndexBody from "../components/IndexBody.vue";
</script>

<style scoped>
/* Ваши стили */
</style>