<template>
    <Header />
   <Shezhire/>
</template>

<script setup>
import Header from "../components/header.vue";
import IndexBody from "../components/IndexBody.vue";
import Shezhire from "../components/shezhire.vue";
</script>

<style scoped>
/* Ваши стили */
</style>
