<template>
    <Header />
   <Tree/>
</template>

<script setup>
import Header from "../components/header.vue";
import Tree from "../components/tree.vue";
</script>

<style scoped>
/* Ваши стили */
</style>