<script setup>
import {ACCOUNT, APIURL, getCsrfToken, getCurrentUserId, getIdFromUrl} from "@/connectApi.js";
import axios from "axios";

let id = getIdFromUrl(),
    csrfToken = await getCsrfToken(),
    formData = {
      verify_token: id
    },
    headers = {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrfToken
    };

await axios.post(`${ACCOUNT}/verify`, formData, {headers: headers})
    .then(async response => {
      localStorage.setItem('apiToken', response.data.Auth_token);
      let userId = await getCurrentUserId();
      window.location.href = `/change-password/${userId}`;
    })
    .catch(error => {
      console.log(error);
    });
</script>

<template>

</template>

<style scoped>
</style>
