<template>
  <div class="body">
  <div class="card custom-card text-center">
  <div class="card-body">
    <h1>{{ $t('admin_panel') }}</h1>
  </div>
</div>
    <div class="row mt-4 text-center">
      <button class="btn btn-primary" id="sendAdmin" @click="hrefToRequestsPanel">{{ $t('requests') }}</button>
      <button id="sendAdmin" @click="hrefToAdminPanel"><strong>{{ $t('admin') }}</strong></button>
    </div>
  <div>
    <div class="card custom-card-users text-center">
      <div class="card-body">
        <h1>{{ $t('admin_list_user') }}</h1>
      </div>
    </div>
  </div>

  <div>
    <div v-if="users.length > 0">
      <div class="row mt-4">
        <div class="card custom-card-users col-4" v-for="user in users" :key="user.id">
          <div class="card mt-4">
            <div class="card-body">
              <h2 class="card-title mb-2">{{ $t('admin_list_user') }}</h2>
              <h5 class="card-title">{{ $t('admin_email') }} {{ user.email }}</h5>
              <p class="card-text">{{ $t('admin_phone_number') }} {{ user.phone }}</p>
              <p class="card-text">{{ $t('admin_id_admin') }} {{ user.is_admin ? $t('admin_yes') : $t('admin_no') }}</p>
              </div>
              <div v-if="user.is_admin" class="mt-4">
                <button class="btn btn-danger" id="revokeAdmin" @click="revokeAdmin(user.id)">{{ $t('admin_remove_permissions') }}</button>
              </div>
              <div v-else class="mt-4">
                <button class="btn btn-primary" id="sendAdmin" @click="makeAdmin(user.id)">{{ $t('admin_grant_permissions') }}</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import axios from 'axios';
import router from "@/router.js";

let admin = ref('Список пользователей')
let requests = ref('Заявки на Добавление в Шежире')
const users = ref([]);

const hrefToAdminPanel = () => {
  router.push('/admin');
};
const hrefToRequestsPanel = () => {
  router.push('/admin/requests');
};
// Фукнция чтобы вытаскивать список пользователей и ложить их в массив для отображения
axios.get('http://127.0.0.1:8000/api/accounts/users/')
  .then(response => {
    users.value = response.data;
  })
  .catch(error => {
    console.error('Error fetching users:', error);
  });

// Фукнция чтобы назначать юзера - администратором
const makeAdmin = (userId) => {
  axios.patch(`http://127.0.0.1:8000/api/accounts/users/${userId}/`, {
      is_admin: true
    })
    .then(response => {
      console.log(response);
      // Перезагрузка страницы при успешном обновлении
      window.location.reload();
    })
    .catch(error => {
      console.log(error);
    });
};

// Фукнция для отзыва прав администратора у пользователя
const revokeAdmin = (userId) => {
  axios.patch(`http://127.0.0.1:8000/api/accounts/users/${userId}/`, {
      is_admin: false
    })
    .then(response => {
      console.log(response);
      // Перезагрузка страницы при успешном обновлении
      window.location.reload();
    })
    .catch(error => {
      console.log(error);
    });
};

</script>

<style scoped>
    body {
      min-height: 100vh;
      background-color: #F7ECDA;
      background-image: url("@/assets/index/Vector.png");
      font-family: 'Your Font', sans-serif;
    }
    .custom-card {
      border-radius: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      padding: 20px;
      width: 450px;
      margin: 50px auto;
    }

    .custom-card h1 {
      color: #333333;
      font-size: 26px;
      font-weight: bold;
    }

    .custom-card-users {
      border-radius: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      padding: 20px;
      width: 1080px;
      margin: 50px auto;
    }
    .custom-card-users h1 {
      color: #333333;
      font-size: 26px;
      font-weight: normal;
    }
    #sendAdmin {
      background-color: #0a6ebd;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 10px;
    }
    #revokeAdmin {
      background-color: #ee5f5b;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 10px;
    }
    #sendAdmin:hover {
      background-color: #45a049;
    }

    #sendAdmin:active {
      background-color: #3e8e41;
    }
</style>
