<template>
  <div class="body">
    <div class="card custom-card text-center">
      <div class="card-body">
        <h1>{{ $t('admin_panel') }}</h1>
      </div>
    </div>
    <div class="row mt-4 text-center">
      <button class="btn btn-primary" id="sendAdmin" @click="hrefToRequestsPanel">{{ $t('requests') }}</button>
      <button id="sendAdmin" @click="hrefToAdminPanel"><strong>{{ $t('admin') }}</strong></button>
    </div>
    <div>
      <div class="card custom-card-users text-center">
        <div class="card-body">
          <h1>{{ $t('admin_list_shejire') }}</h1>
        </div>
      </div>
    </div>

    <div v-if="shejires.length > 0">
      <div class="row mt-4">
        <div class="card custom-card-users col-4" v-for="shejire in shejires" :key="shejire.id">
          <div v-if="shejire.is_approved">
          </div>
          <div v-else>
            <div class="card mt-4">
              <div class="card-body">
                <h2 class="card-title mb-2">{{ $t('user_request') }}</h2>
                <h5 class="card-title" v-if="shejire.ancestorNames">{{ $t('user_wants_to_add_ancestors') }}{{ shejire.ancestorNames.join(', ') }}</h5>
                <h5 class="card-title" v-if="shejire.houseNames">{{ $t('user_wants_to_add_houses') }}{{ shejire.houseNames.join(', ') }}</h5>
                <p class="card-text">{{ $t('request_created_at') }}{{ formatCreatedAtDate(shejire.created_at) }}</p>
                <p class="card-text">{{ $t('request_status') }}{{ shejire.is_approved ? $t('request_reviewed') : $t('request_pending') }}</p>

                <button class="btn btn-success" id="sendAdmin" @click="showApprovalInput(shejire.id)">{{ $t('approve') }}</button>

                <!-- Поле ввода для причины -->
                <div v-if="currentShejireId === shejire.id">
                  <input v-model="reason" :placeholder="$t('enter_reason')" />
                  <button class="btn btn-primary ml-3" id="send" @click="approveShejire(shejire.id, true)">{{ $t('approve') }}</button>
                  <button class="btn btn-secondary" id="revokeAdmin" @click="rejectShejire(shejire.id)">{{ $t('reject') }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useI18n } from 'vue-i18n';
import { ref, onMounted } from 'vue';
import axios from 'axios';
import router from "@/router.js";
import { SHEZIRE } from "@/connectApi.js";
import { getAuthToken, getCsrfToken } from "@/connectApi.js";

const { t } = useI18n();

let shejires = ref([]);
let currentShejireId = ref(null);
let reason = ref('');

// Function to format created at date
const formatCreatedAtDate = (createdAt) => {
  return new Date(createdAt).toLocaleDateString();
};

const hrefToAdminPanel = () => {
  router.push('/admin');
};

const hrefToRequestsPanel = () => {
  router.push('/admin/requests');
};

// Fetch shejires, ancestors, and houses
const fetchShejires = () => {
  axios.get(`${SHEZIRE}/shejire/`, {
    headers: {
      'X-CSRFToken': getCsrfToken(),
      'Authorization': getAuthToken()
    }
  })
  .then(response => {
    shejires.value = response.data;
    fetchAncestorsAndHouses();
  })
  .catch(error => {
    console.error('Error fetching shejires:', error);
  });
};

const fetchAncestorsAndHouses = () => {
  axios.all([
    axios.get(`${SHEZIRE}/ancestor/`, {
      headers: {
        'X-CSRFToken': getCsrfToken(),
        'Authorization': getAuthToken()
      }
    }),
    axios.get(`${SHEZIRE}/houses/`, {
      headers: {
        'X-CSRFToken': getCsrfToken(),
        'Authorization': getAuthToken()
      }
    })
  ])
  .then(axios.spread((ancestorResponse, houseResponse) => {
    const ancestorsMap = {};
    ancestorResponse.data.forEach(ancestor => {
      ancestorsMap[ancestor.id] = ancestor.name;
    });

    const housesMap = {};
    houseResponse.data.forEach(house => {
      housesMap[house.id] = house.name;
    });

    shejires.value.forEach(shejire => {
      shejire.ancestorNames = shejire.ancestor?.map(id => ancestorsMap[id]) || [];
      shejire.houseNames = shejire.house?.map(id => housesMap[id]) || [];
    });
  }))
  .catch(error => {
    console.error('Error fetching ancestors or houses:', error);
  });
};

// Function to show input for approval
const showApprovalInput = (shejireId) => {
  currentShejireId.value = shejireId;
  reason.value = '';
};

// Function to approve shejire, ancestors, and houses
const approveShejire = (shejireId, isApproved) => {
  axios.patch(`${SHEZIRE}/shejire/${shejireId}/`, {
    is_approved: isApproved,
    reason: reason.value
  }, {
    headers: {
      'X-CSRFToken': getCsrfToken(),
      'Authorization': getAuthToken()
    }
  })
  .then(response => {
    console.log(response);
    // After updating the shejire approval status, update ancestors and houses
    if (isApproved) {
      approveAncestorsAndHouses(shejireId).then(() => {
        fetchShejires(); // Update shejires list
        currentShejireId.value = null;
        window.location.reload(); // Reload the page if needed
      });
    } else {
      fetchShejires(); // Update shejires list
      currentShejireId.value = null;
    }
  })
  .catch(error => {
    console.log(error);
  });
};

// Function to reject shejire and delete ancestors and houses
const rejectShejire = (shejireId) => {
  deleteAncestorsAndHouses(shejireId).then(() => {
    axios.delete(`${SHEZIRE}/shejire/${shejireId}/`, {
      headers: {
        'X-CSRFToken': getCsrfToken(),
        'Authorization': getAuthToken()
      }
    })
    .then(response => {
      console.log(response);
      fetchShejires(); // Update shejires list
      currentShejireId.value = null;
      window.location.reload(); // Reload the page if needed
    })
    .catch(error => {
      console.error('Error deleting shejire:', error);
    });
  });
};

// Function to approve ancestors and houses
const approveAncestorsAndHouses = (shejireId) => {
  const shejire = shejires.value.find(s => s.id === shejireId);
  const promises = [];

  // Update ancestors
  if (shejire.ancestor) {
    shejire.ancestor.forEach(ancestorId => {
      const promise = axios.patch(`${SHEZIRE}/ancestor/${ancestorId}/`, {
        is_approved: true
      }, {
        headers: {
          'X-CSRFToken': getCsrfToken(),
          'Authorization': getAuthToken()
        }
      }).then(response => {
        console.log(response);
      }).catch(error => {
        console.error('Error updating ancestor:', error);
      });
      promises.push(promise);
    });
  }

  // Update houses
  if (shejire.house) {
    shejire.house.forEach(houseId => {
      const promise = axios.patch(`${SHEZIRE}/houses/${houseId}/`, {
        is_approved: true
      }, {
        headers: {
          'X-CSRFToken': getCsrfToken(),
          'Authorization': getAuthToken()
        }
      }).then(response => {
        console.log(response);
      }).catch(error => {
        console.error('Error updating house:', error);
      });
      promises.push(promise);
    });
  }

  return Promise.all(promises);
};

// Function to delete ancestors and houses
const deleteAncestorsAndHouses = (shejireId) => {
  const shejire = shejires.value.find(s => s.id === shejireId);
  const promises = [];

  // Delete ancestors
  if (shejire.ancestor) {
    shejire.ancestor.forEach(ancestorId => {
      const promise = axios.delete(`${SHEZIRE}/ancestor/${ancestorId}/`, {
        headers: {
          'X-CSRFToken': getCsrfToken(),
          'Authorization': getAuthToken()
        }
      }).then(response => {
        console.log(response);
      }).catch(error => {
        console.error('Error deleting ancestor:', error);
      });
      promises.push(promise);
    });
  }

  // Delete houses
  if (shejire.house) {
    shejire.house.forEach(houseId => {
      const promise = axios.delete(`${SHEZIRE}/houses/${houseId}/`, {
        headers: {
          'X-CSRFToken': getCsrfToken(),
          'Authorization': getAuthToken()
        }
      }).then(response => {
        console.log(response);
      }).catch(error => {
        console.error('Error deleting house:', error);
      });
      promises.push(promise);
    });
  }

  return Promise.all(promises);
};

// Fetch data on component mount
onMounted(() => {
  fetchShejires();
});
</script>

<style scoped>
body {
  min-height: 100vh;
  background-color: #F7ECDA;
  background-image: url("@/assets/index/Vector.png");
  font-family: 'Your Font', sans-serif;
}

.custom-card {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  width: 450px;
  margin: 50px auto;
}

.custom-card h1 {
  color: #333333;
  font-size: 26px;
  font-weight: bold;
}

.custom-card-users {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  width: 1080px;
  margin: 50px auto;
}

.custom-card-users h1 {
  color: #333333;
  font-size: 26px;
  font-weight: normal;
}

#sendAdmin {
  background-color: #0a6ebd;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#revokeAdmin {
  background-color: #ee5f5b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#sendAdmin:hover {
  background-color: #45a049;
}

#sendAdmin:active {
  background-color: #3e8e41;
}

#send {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
</style>
