<script setup>
import {ACCOUNT, APIURL, getAuthToken, getCsrfToken, getIdFromUrl} from "@/connectApi.js";
import axios from "axios";
import {ref} from "vue";
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

let OldPass = ref(''), NewPass = ref(''), ConfNewPass = ref('');
let id = getIdFromUrl(), errorMessagePass = ref('');

let changePassword = () => {
  let formData = {
        old_password: OldPass.value,
        new_password: NewPass.value,
        confirm_password: ConfNewPass.value
      },
      headers = {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCsrfToken(),
        'Authorization': getAuthToken()
      };
  axios.post(`${ACCOUNT}/password_change/${id}`, formData, {headers: headers}).then(response => {
    window.location.href = '/login'
  }).catch(error => {
    errorMessagePass.value = $t('pass_error')
  })
};
</script>

<template>
  <form class="grid grid-cols-3 gap-6 p-8 rounded-lg shadow-md mt-10" @submit.prevent="changePassword">
    <input v-model="OldPass"
           class="col-span-2 size-20 p-1 rounded border border-gray-300 w-full h-12" type="password"
           :placeholder="$t('old_pass')">
    <input v-model="NewPass" class="col-span-2 size-20 p-1 rounded border border-gray-300 w-full h-12"
           type="password" :placeholder="$t('new_pass')">
    <input v-model="ConfNewPass" class="col-span-2 size-20 p-1 rounded border border-gray-300 w-full h-12"
           type="password" :placeholder="$t('pass_conf')">
    <p class="text-red-500">{{ errorMessagePass }}</p>
    <button type="submit" class="w-32 p-1">{{$t('pass_change')}}</button>
  </form>
</template>

<style scoped>
form {
  background: #f0dcd8;
}

button {
  background: #ba7264;
  border-radius: 10px;
}
</style>