<template>
<div class="header">
  <div class="nav-bar">
    <ul class="nav-list">
      <li class="title"><h1><b><a href="/">{{ title }}</a></b></h1></li>
      <li class="nav-list-item"><b><a href="/">{{ $t('_indexpage') }}</a></b></li>
      <li class="nav-list-item"><b><a href="/tree">{{ $t('_maintree') }}</a></b></li>
      <li class="nav-list-item"><b><a href="/posts">{{ $t('_articles') }}</a></b></li>
      <li v-if="isStaff" class="nav-list-item"><b><a href="/edit">{{ $t('addarticle') }}</a></b></li>
      <li class="nav-list-item">
        <switchLang></switchLang>
      </li>


      <li class="nav-list-item profile"><b><a v-if="isLoggedIn" @click="hrefToProfile" href="#">{{ profile }}</a>
        <a v-else href="/login">{{ $t('_login') }}</a>
        <a v-if="isLoggedIn" @click="logout" style="margin-left: 10px;" href=#>{{ $t('_logout') }}</a>
      </b></li>

    </ul>
  </div>
</div>


</template>

<script setup>
import {onMounted, ref} from 'vue';
import {getCurrentUserData, getCurrentUserId, isStaffUser, logout} from "@/connectApi.js";
import {useRouter} from "vue-router";
import switchLang from "@/components/switchLang.vue";


let title = ref('Taypa.kz'),
    indexPage = ref('Главная'),
    mainTree = ref('Шежире'),
    article = ref('Статьи'),
    profile = ref('Личный кабинет'),
    login = ref('Вход'),
    username = ref(''),
    userId = ref(''),
    isStaff = ref(false),
    isLoggedIn = ref(false);


const fetchUserData = async () => {
  isLoggedIn.value = localStorage.getItem('apiToken') !== null;
  if (isLoggedIn.value) {
    login.value = 'Выход';
    userId.value = await getCurrentUserId();
    await getCurrentUserData(username);
  }
};

let hrefToProfile = () => {
  router.push(`/profile/${userId.value}`);
}
onMounted(async () => {
    isStaff.value = await isStaffUser();
    console.log(isStaff.value);
    await fetchUserData();
});

</script>

<style scoped>
.header {
  z-index: 0;
  background-color: #F7ECDA;
  color: #33374B;
}

.nav-list {
  display: flex;
  padding-top: 20px;
  margin-left: 95px;
}

.title {
  font-size: 23px;
  margin-right: 40px;
}

.nav-list-item {
  font-family: 'Golos Text', serif;
  padding-top: 10px;
  font-size: 14px;
  margin-right: 30px;
}

.nav-list-item.profile {
  margin-left: auto;
  margin-right: 95px;
}

.nav-list-item.profile a {
  gap: 10px;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #DABB8F;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #DABB8F;
  border-radius: 57px;
}

.nav-list-item a:hover {
  font-size: 15px;
}

.nav-menu {
  margin: 50px 95px 0;
  display: flex;
}
</style>
