<script setup>
import {ACCOUNT, APIURL, getCsrfToken, getOnlyAuthToken} from "../connectApi.js";
import axios from "axios";
import SurvayBase from "../components/SurvayBase.vue";
import {ref} from "vue";

let email = ref(''),
    phone = ref(''),
    nonUser = ref(true),
    submitted = ref(false),
    errorMessage = ref(''),
    userId = ref('');


let isLogin = () => {
  let authToken = getOnlyAuthToken();
  if (authToken) {
    nonUser = false;
  }
};
isLogin();
let register = async () => {
  let formData = {
        email: email.value,
        phone: phone.value
      },
      headers = {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCsrfToken()
      };
  console.log(formData);
  await axios.post(`${ACCOUNT}/users/`, formData, {headers: headers})
      .then(response => {
        console.log(response.data.id);
        userId.value = response.data.id;
        submitted.value = true;
      })
      .catch(error => errorMessage.value = 'Проверьте Email или телефон');
}
</script>

<template>
  <div>
    <div v-if="nonUser" class="mx-96 mt-12 p-6">
      <form @submit.prevent="register" v-if="!submitted">
        <label class="text-2xl" for="email">Email:</label>
        <input v-model="email" type="email" required class="form-input w-full text-xl mb-3">
        <label class="text-2xl" for="phone">Телефон:</label>
        <input v-model="phone" type="tel" required class="form-input w-full text-xl mb-3">
        <p class="text-red-500">{{ errorMessage }}</p>
        <button type="submit">Далее</button>
      </form>
    </div>
    <SurvayBase class="mx-96 mt-12 p-6" v-if="submitted" :userId="userId"/>
  </div>
</template>

<style scoped>
.form-input {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 15px;
  background: #ba7264;
  border-radius: 12px;
  padding: 5px;
}
</style>
