<template>
  <div>
    <div v-if="surveyModalVisible">
      <SurvayModalProfile :userId="userId"/>
    </div>
    <div class="justify-content-between flex flex-column">
      <div class="size-56 pr-10">
        <img class="rounded-full"
             :src="avatar"
             alt="">
      </div>
      <div class="pl-10">
        <div class="header">
          <h1 class="text-5xl pb-4">{{ first_name }} {{ last_name }}</h1>
        </div>
        <p>{{$t('birth_d')}}: {{ birth_date }}</p>
        <p>{{ $t('_gender') }}: {{ gender }}</p>
        <p>{{ $t('_phone') }}: {{ phone }}</p>
        <p>Email: {{ email }}</p>
      </div>
    </div>
    <hr>
    <h1 class="mt-10 text-4xl">{{$t('_bio')}}:</h1>
    <div class="border rounded-3xl w-full h-96 mt-10 bio">
      <fwb-p>
        {{ biography }}
      </fwb-p>
    </div>
  </div>
</template>

<script setup>
import {ref} from 'vue';
import axios from 'axios';
import {ACCOUNT, APIURL, FAMILYTREE, getIdFromUrl} from '@/connectApi.js';
import SurvayModalProfile from "../components/SurvayModalProfile.vue";
import { FwbP } from 'flowbite-vue'
let id = getIdFromUrl();
let userId = ref(id);

let first_name = ref(''),
    last_name = ref(''),
    birth_date = ref(''),
    gender = ref(''),
    phone = ref(''),
    email = ref(''),
    biography = ref(''),
    surveyModalVisible = ref(false),
    avatar = ref('');

axios.get(`${FAMILYTREE}/deep_data_profile_from_family_tree/${id}`)
    .then(response => {
      const data = response.data;
      console.log(data);
      first_name.value = data.first_name;
      last_name.value = data.last_name;
      birth_date.value = data.birth_date;
      gender.value = data.gender;
      biography.value = data.biography;
    })
    .catch(error => console.error(error));

axios.get(`${ACCOUNT}/get_user/${id}`)
    .then(response => {
      let data = response.data;
      console.log(data);
      phone.value = data.user.phone;
      email.value = data.user.email;
      avatar.value = data.profile.avatar;
      console.log(avatar.value);
      if (data.profile.house === null) {
        surveyModalVisible.value = true;
      }
    })
    .catch(error => console.error(error));


</script>

<style scoped>
.bio {
  border: #351e1a;
}
</style>
