<template>
  <div class="mx-60 mt-12">
    <button class="mb-10 mt-12" @click="hasSentRequest ? confirmCancelRequest() : confirmSendRequest()"
            :class="{'bg-green-500': !hasSentRequest, 'bg-red-500': hasSentRequest, 'text-white': true, 'py-2': true, 'px-4': true, 'rounded': true, 'mt-4': true}">
      {{ hasSentRequest ? $t('req_decline') : $t('req_send') }}
    </button>
     <div >
        <VueZoomable
          style="width: 100%; height: 700px; border: 1px solid black"
          selector="#tree"
          :minZoom="0.5"
          :maxZoom="3"
        >
          <div class="mx-60 mt-12" id="tree">
              <blocks-tree
                :data="treeData"
                :horizontal="treeOrientation==='0'"
                :collapsable="true"
                :labelClassName="getLabelClass"
                @node-click="handleNodeClick"
              ></blocks-tree>
            </div>
        </VueZoomable>
     </div>
    <div v-if="showModalHouse" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
      <div class="bg-white p-6 rounded shadow-lg w-1/3">
        <h2 class="text-xl mb-4">{{ $t('add_newHouse') }}</h2>
        <input v-model="newHouseName" type="text" :placeholder="$t('new_house_name')" class="border p-2 w-full mb-4">
        <div class="flex justify-end">
          <button @click="addNewHouse" class="bg-blue-500 text-white py-2 px-4 rounded mr-2">{{ $t('add') }}</button>
          <button @click="closeModal('house')" class="bg-gray-300 text-gray-700 py-2 px-4 rounded">{{ $t('cancel') }}</button>
        </div>
      </div>
    </div>
    <div v-if="showModalAncestor" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
      <div class="bg-white p-6 rounded shadow-lg w-1/3">
        <h2 class="text-xl mb-4">{{ $t('add_new_ancestor') }}</h2>
        <input v-model="newAncestorName" type="text" :placeholder="$t('new_ancestor_name')" class="border p-2 w-full mb-4">
        <div class="flex justify-end">
          <button @click="addNewAncestor" class="bg-blue-500 text-white py-2 px-4 rounded mr-2">{{ $t('add') }}</button>
          <button @click="closeModal('ancestor')" class="bg-gray-300 text-gray-700 py-2 px-4 rounded">{{ $t('cancel') }}</button>
        </div>
      </div>
    </div>
    <div v-if="showModalAncestorToAncestor" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
      <div class="bg-white p-6 rounded shadow-lg w-1/3">
        <h2 class="text-xl mb-4">{{ $t('add_new_ancestor') }}</h2>
        <input v-model="newAncestorToAncestorName" type="text" :placeholder="$t('new_ancestor_name')" class="border p-2 w-full mb-4">
        <div class="flex justify-end">
          <button @click="addNewAncestorToAncestor" class="bg-blue-500 text-white py-2 px-4 rounded mr-2">{{ $t('add') }}</button>
          <button @click="closeModal('ancestorToAncestor')" class="bg-gray-300 text-gray-700 py-2 px-4 rounded">{{ $t('cancel') }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { SHEZIRE } from "@/connectApi.js";
import axios from 'axios';
import { defineComponent, ref, reactive } from 'vue';
import { BlocksTree } from 'vue3-blocks-tree';
import { getCurrentUserId, getAuthToken, getCsrfToken } from '@/connectApi.js';
import { useI18n } from 'vue-i18n';
import VueZoomable from "vue-zoomable";
import "vue-zoomable/dist/style.css";

export default defineComponent({
  components: {
    VueZoomable: VueZoomable,
    BlocksTree
  },
  setup() {
    const { t } = useI18n();
    const selected = ref([]);
    const treeOrientation = ref("0");
    const treeData = reactive({
      label: 'Алаш',
      expand: true,
      some_id: 1,
      children: [],
      is_approved: true
    });

    const showModalHouse = ref(false);
    const newHouseName = ref('');
    let selectedClanId = null;
    let selectedClanNode = null;
    const showModalAncestor = ref(false);
    const newAncestorName = ref('');
    let selectedHouseId = null;
    let selectedHouseNode = null;
    const showModalAncestorToAncestor = ref(false);
    const newAncestorToAncestorName = ref('');
    let selectedAncestorId = null;
    let selectedAncestorNode = null;
    const hasSentRequest = ref(false);

    let clans = [];
    let houses = [];
    let ancestors = [];

    const fetchInitialData = () => {
      return Promise.all([
        axios.get(`${SHEZIRE}/clans/`),
        axios.get(`${SHEZIRE}/houses/`),
        axios.get(`${SHEZIRE}/ancestor/`)
      ])
        .then(([clansResponse, housesResponse, ancestorsResponse]) => {
          clans = clansResponse.data;
          houses = housesResponse.data;
          ancestors = ancestorsResponse.data;
        })
        .catch(error => {
          console.error('Ошибка при загрузке данных:', error);
        });
    };

    const toggleSelect = (node, isSelected) => {
      if (isSelected) {
        selected.value.push(node.some_id);
      } else {
        selected.value.splice(selected.value.indexOf(node.some_id), 1);
      }
      if (node.children && node.children.length) {
        node.children.forEach(child => {
          toggleSelect(child, isSelected);
        });
      }
    };

    const loadDataForNode = (node, endpoint, childKey, loadChildData, applyFilter) => {
      return axios.get(`${SHEZIRE}/${endpoint}/${node.some_id}`)
        .then(async (response) => {
          let children;
          if (applyFilter) {
            const userId = await getCurrentUserId();
            children = response.data.filter(child => child.user === userId || child.is_approved === true);
          } else {
            children = response.data;
          }
          node.children = children.map(child => ({
            label: child.name,
            some_id: child.id,
            children: [],
            is_approved: child.is_approved,
          }));
          return Promise.all(node.children.map(childNode => loadChildData(childNode, endpoint, childKey, loadChildData, applyFilter))); // Передаем параметр применения фильтрации в рекурсивный вызов
        })
        .catch(error => {
          console.error(`Ошибка при загрузке данных для ${childKey}:`, error);
          return Promise.reject(error);
        });
    };

    const loadDescendantsForAncestor = (ancestorNode) => {
      return loadDataForNode(ancestorNode, 'get_ancestor_by_ancestor_id', 'потомки', loadDescendantsForAncestor, true);
    };

    const loadAncestorsForHouse = (houseNode) => {
      return loadDataForNode(houseNode, 'get_ancestor_by_id', 'предки', loadDescendantsForAncestor, true);
    };

    const loadHousesForClan = (clanNode) => {
      return loadDataForNode(clanNode, 'get_house_by_id', 'дома', loadAncestorsForHouse, true);
    };

    const loadClansForZhuz = async (zhuzNode) => {
      try {
        const response = await axios.get(`${SHEZIRE}/get_clan_by_id/${zhuzNode.some_id}`);
        const children = response.data.map(clan => ({
          label: clan.name,
          some_id: clan.id,
          children: [],
          is_approved: true,
        }));

        zhuzNode.children = children;
        return Promise.all(zhuzNode.children.map(childNode => loadHousesForClan(childNode)));
      } catch (error) {
        console.error(`Ошибка при загрузке кланов для жуза с id ${zhuzNode.some_id}:`, error);
      }
    };

    const loadZhuzs = async () => {
      try {
        const response = await axios.get(`${SHEZIRE}/zhuzs/`);
        for (const zhuz of response.data) {
          const zhuzNode = {
            label: zhuz.name,
            some_id: zhuz.id,
            children: [],
            is_approved: true
          };
          await loadClansForZhuz(zhuzNode);
          treeData.children.push(zhuzNode);
        }
      } catch (error) {
        console.error('Ошибка при загрузке жузов:', error);
      }
    };

    const handleNodeClick = (event, data) => {
      if (clans.some(clan => clan.name === data.label)) {
        selectedClanId = data.some_id;
        selectedClanNode = data;
        showModalHouse.value = true;
      } else if (houses.some(house => house.name === data.label)) {
        selectedHouseId = data.some_id;
        selectedHouseNode = data;
        showModalAncestor.value = true;
      } else if (ancestors.some(ancestor => ancestor.name === data.label)) {
        selectedAncestorId = data.some_id;
        selectedAncestorNode = data;
        showModalAncestorToAncestor.value = true;
      }
    };

    const closeModal = (modalType) => {
      if (modalType === 'house') {
        showModalHouse.value = false;
        newHouseName.value = '';
      } else if (modalType === 'ancestor') {
        showModalAncestor.value = false;
        newAncestorName.value = '';
      } else if (modalType === 'ancestorToAncestor') {
        showModalAncestorToAncestor.value = false;
        newAncestorToAncestorName.value = '';
      }
    };

    const addNewHouse = async () => {
      try {
        const userId = await getCurrentUserId();
        const response = await axios.post(`${SHEZIRE}/houses/`, {
          name: newHouseName.value,
          clan_referrence: selectedClanId,
          is_approved: false,
          user: userId
        }, {
          headers: {
            'X-CSRFToken': getCsrfToken(),
            'Authorization': getAuthToken(),
          }
        });

        const newHouse = response.data;
        selectedClanNode.children.push({
          label: newHouse.name,
          some_id: newHouse.id,
          children: []
        });
        closeModal('house');
        await fetchInitialData();
      } catch (error) {
        console.error('Ошибка при добавлении дома:', error);
      }
    };

    const addNewAncestor = async () => {
      try {
        const userId = await getCurrentUserId();
        const response = await axios.post(`${SHEZIRE}/ancestor/`, {
          name: newAncestorName.value,
          house_referrence: selectedHouseId,
          is_approved: false,
          user: userId
        }, {
          headers: {
            'X-CSRFToken': getCsrfToken(),
            'Authorization': getAuthToken(),
          }
        });

        const newAncestor = response.data;
        selectedHouseNode.children.push({
          label: newAncestor.name,
          some_id: newAncestor.id,
          children: []
        });
        closeModal('ancestor');
        await fetchInitialData();
      } catch (error) {
        console.error('Ошибка при добавлении предка:', error);
      }
    };

    const addNewAncestorToAncestor = async () => {
      try {
        const userId = await getCurrentUserId();
        const response = await axios.post(`${SHEZIRE}/ancestor/`, {
          name: newAncestorToAncestorName.value,
          ancestor_referrence: selectedAncestorId,
          is_approved: false,
          user: userId
        }, {
          headers: {
            'X-CSRFToken': getCsrfToken(),
            'Authorization': getAuthToken(),
          }
        });

        const newAncestor = response.data;
        selectedAncestorNode.children.push({
          label: newAncestor.name,
          some_id: newAncestor.id,
          children: []
        });
        closeModal('ancestorToAncestor');
        await fetchInitialData();
      } catch (error) {
        console.error('Ошибка при добавлении предка к предку:', error);
      }
    };

    const checkRequestStatus = async () => {
      try {
        const userId = await getCurrentUserId();
        const response = await axios.get(`${SHEZIRE}/shejire/`, {
          headers: {
            'X-CSRFToken': getCsrfToken(),
            'Authorization': getAuthToken(),
          }
        });
        const userRequests = response.data.filter(request => request.user === userId && request.is_approved === false);
        hasSentRequest.value = userRequests.length > 0;
      } catch (error) {
        console.error('Ошибка при проверке статуса заявки:', error);
      }
    };

    checkRequestStatus();

    const sendRequest = async () => {
      try {
        const userId = await getCurrentUserId();
        const responseHouses = await axios.get(`${SHEZIRE}/houses/`);
        const responseAncestors = await axios.get(`${SHEZIRE}/ancestor/`);

        const housesReq = responseHouses.data.filter(house => house.user === userId && !house.is_approved);
        const ancestorsReq = responseAncestors.data.filter(ancestor => ancestor.user === userId && !ancestor.is_approved);
        const houseIds = housesReq.map(house => house.id);
        const ancestorIds = ancestorsReq.map(ancestor => ancestor.id);
        let authToken = getAuthToken();
        let csrf = getCsrfToken()
        await axios.post(`${SHEZIRE}/shejire/`, {
          user: userId,
          house: houseIds,
          ancestor: ancestorIds,
          is_approved: false,
          reason: 'Заявка'
        }, {
          headers: {
            'X-CSRFToken': csrf,
            'Authorization': authToken
          }
        });
        hasSentRequest.value = true;
        selected.value = [];
      } catch (error) {
        console.error('Ошибка при отправке заявки:', error);
      }
    };

    const confirmSendRequest = () => {
      if (confirm(t('request_approve'))) {
        sendRequest();
      }
    };

    const cancelRequest = async () => {
      try {
        const userId = await getCurrentUserId();
        const response = await axios.get(`${SHEZIRE}/shejire/`, {
          headers: {
            'X-CSRFToken': getCsrfToken(),
            'Authorization': getAuthToken(),
          }
        });
        const userRequests = response.data.filter(request => request.user === userId && request.is_approved === false); // Фильтруем заявки по текущему пользователю и is_approved=false
        if (userRequests.length > 0) {
          const requestId = userRequests[0].id;
          await axios.delete(`${SHEZIRE}/shejire/${requestId}/`, {
            headers: {
              'X-CSRFToken': getCsrfToken(),
              'Authorization': getAuthToken(),
            }
          });

          hasSentRequest.value = false; // Устанавливаем false, заявка отозвана
        }
      } catch (error) {
        console.error('Ошибка при отзыве заявки:', error);
      }
    };

    const confirmCancelRequest = () => {
      if (confirm(t('request_decline'))) {
        cancelRequest();
      }
    };

    const getLabelClass = (data) => {
      return data.is_approved ? '' : 'bg-blue-200'; // голубой фон is_approved=false
    };

    fetchInitialData();
    loadZhuzs();

    return {
      treeData,
      selected,
      toggleSelect,
      treeOrientation,
      handleNodeClick,
      showModalHouse,
      showModalAncestor,
      showModalAncestorToAncestor,
      newHouseName,
      newAncestorName,
      newAncestorToAncestorName,
      closeModal,
      addNewHouse,
      addNewAncestor,
      addNewAncestorToAncestor,
      hasSentRequest,
      confirmSendRequest,
      confirmCancelRequest,
      getLabelClass
    };
  }

});
</script>

<style>
.bg-blue-200 {
  background-color: #bee3f8;
}


</style>
