<script setup>
import { defineProps, ref, onMounted } from 'vue'
import { FwbButton, FwbModal } from 'flowbite-vue'
import SurvayBase from "../components/SurvayBase.vue";

const props = defineProps({
  userId: String
});

const userId = ref(props.userId);
const isShowModal = ref(true);

onMounted(() => {
  userId.value
});

function closeModal() {
  isShowModal.value = false;
}
</script>

<template>
  <fwb-modal v-if="isShowModal" @close="closeModal">
    <template #header>
      <div class="flex items-center text-lg">
        {{$t('anket')}}
      </div>
    </template>
    <template #body>
      <SurvayBase :userId="userId"/>
    </template>
  </fwb-modal>
</template>
