<script setup>
import {ACCOUNT, APIURL, getCsrfToken, SHEZIRE} from "../connectApi.js";
import axios from "axios";
import {onMounted, ref, defineProps} from "vue";

// Создаем реактивные переменные с помощью ref()
let selectedZhuz = ref(''),
    selectedRu = ref(''),
    selectedHouse = ref(''),
    customKnee = ref(''),
    zhuzs = ref([]),
    clans = ref([]),
    houses = ref([]),
    userId = ref('');

let props = defineProps({
  userId: String
});
onMounted(() => {
  userId.value = props.userId;
});
let loadZhuzs = () => {
  axios.get(`${SHEZIRE}/zhuzs/`)
      .then(response => {

        zhuzs.value = response.data;
      })
      .catch(error => {
        console.error('Ошибка при загрузке жузов:', error);
      });

};

let loadClans = () => {
  let zhuzId = selectedZhuz.value;
  if (!zhuzId) return;
  axios.get(`${SHEZIRE}/clans/filter/${encodeURIComponent(zhuzId)}/`)
      .then(response => {

        clans.value = response.data;
      })
      .catch(error => {
        console.error('Ошибка при загрузке кланов:', error);
        clans.value = [];
      });
};

let loadHouses = () => {
  let clanId = selectedRu.value;
  if (!clanId) return;
  axios.get(`${SHEZIRE}/houses/filter/${encodeURIComponent(clanId)}/`)
      .then(response => {
        houses.value = response.data;
      })
      .catch(error => {
        console.error('Ошибка при загрузке домов:', error);
        houses.value = [];
      });
};
let sendData = () => {
  let formData = {
    zhuz: selectedZhuz.value,
    clan: selectedRu.value,
    house: selectedHouse.value
  },
      headers = {
        'X-CSRFToken': getCsrfToken()
      };
  console.log(userId.value);
   axios.patch(`${ACCOUNT}/survey/${userId.value}`, formData, {headers: headers}).then(response => console.log(response)).catch(error => console.log(error));
}
loadZhuzs();
</script>


<template>
  <div class="">
    <form @submit.prevent="sendData">
      <label class="text-2xl">{{$t('ask_zhuz')}}</label>
      <select v-model="selectedZhuz" @change="loadClans" class="form-input w-full text-xl mb-3" required>
        <option v-for="zhuz in zhuzs" :key="zhuz.id" :value="zhuz.id">{{ zhuz.name }}</option>
      </select>

      <label class="text-2xl" v-if="selectedZhuz">Выберите свой основной ру</label>
      <select v-model="selectedRu" v-if="selectedZhuz" @change="loadHouses" class="form-input w-full text-xl mb-3"
              required>
        <option v-for="clan in clans" :key="clan.id" :value="clan.id">{{ clan.name }}</option>
        <option value="Мой ру отсутствует">{{$t('noclan')}}</option>
      </select>

      <label class="text-2xl" :v-if="selectedRu === 'Мой ру отсутствует'">Введите название следующего колена
        вручную</label>
      <input v-model="customKnee" v-if="selectedRu === 'Мой ру отсутствует'" type="text"
             class="form-input w-full text-xl mb-3">

      <label class="text-2xl" v-if="selectedRu">Выберите свое следующее колено</label>
      <select v-model="selectedHouse" v-if="selectedRu !== 'Мой ру отсутствует'" class="form-input w-full text-xl mb-3"
              required>
        <option v-for="house in houses" :key="house.id" :value="house.id">{{ house.name }}</option>
      </select>
      <button type="submit">Отправить</button>
    </form>
  </div>


</template>

<style scoped>

.form-input {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 15px;
  background: #F7ECDA;
  border-radius: 12px;
  padding: 5px;
}
</style>
