<template>


    <button @click="changeLanguage('en')">En | </button>
    <button @click="changeLanguage('ru')">Ru | </button>
    <button @click="changeLanguage('kz')">KZ</button>

<!--    <li class="flex align-items-center gap-3 mx-3 text-gray-500 hover:text-black">-->

<!--            <button @click="changeLanguage('kz')">Kz</button>-->

<!--        </li>-->
<!--     <li class="flex align-items-center gap-3 mx-3 text-gray-500 hover:text-black">-->

<!--            <button @click="changeLanguage('ru')">Ru</button>-->

<!--        </li>-->
<!--     <li class="flex align-items-center gap-3 mx-3 text-gray-500 hover:text-black">-->

<!--            <button @click="changeLanguage('en')">En</button>-->

<!--        </li>-->

</template>

<script>
export default {
  methods: {
    changeLanguage(locale) {
      this.$i18n.locale = locale;
      localStorage.setItem('locale', locale); // Сохраняем язык в локальное хранлище
    }
  }
}
</script>