<template>
  <div class="mt-12 mx-40">
      <VueZoomable
          style="width: 100%; height: 700px; border: 1px solid black"
          selector="#Maintree"
          :minZoom="0.5"
          :maxZoom="3"
        >
        <div class="mx-60 mt-12" id="Maintree">
          <blocks-tree :data="treeData" :horizontal="treeOrientation==='0'" :collapsable="true"></blocks-tree>
        </div>
       </VueZoomable>
  </div>
</template>

<script>
import { SHEZIRE } from "@/connectApi.js";
import axios from 'axios';
import { defineComponent, ref, reactive } from 'vue';
import { BlocksTree } from 'vue3-blocks-tree';
import VueZoomable from "vue-zoomable";
import "vue-zoomable/dist/style.css";

export default defineComponent({
  components: {
    VueZoomable: VueZoomable,
    BlocksTree
  },
  setup() {
    const selected = ref([]);
    const treeOrientation = ref("0");
    const treeData = reactive({
      label: 'Алаш',
      expand: true,
      some_id: 1,
      children: []
    });

    const toggleSelect = (node, isSelected) => {
      if (isSelected) {
        selected.value.push(node.some_id);
      } else {
        selected.value.splice(selected.value.indexOf(node.some_id), 1);
      }
      if (node.children && node.children.length) {
        node.children.forEach(child => {
          toggleSelect(child, isSelected);
        });
      }
    };

    // Одна функция для загрузки данных
    const loadDataForNode = (node, endpoint, childKey, loadChildData, applyFilter) => {
      return axios.get(`${SHEZIRE}/${endpoint}/${node.some_id}`)
        .then(async (response) => {
          let children;
          if (applyFilter) {
            children = response.data.filter(child => child.is_approved === true);
          } else {
            children = response.data;
          }
          node.children = children.map(child => ({
            label: child.name,
            some_id: child.id,
            children: []
          }));
          return Promise.all(node.children.map(childNode => loadChildData(childNode, endpoint, childKey, loadChildData, applyFilter))); // Передаем параметр применения фильтрации в рекурсивный вызов
        })
        .catch(error => {
          console.error(`Ошибка при загрузке данных для ${childKey}:`, error);
          return Promise.reject(error);
        });
    };

    const loadDescendantsForAncestor = (ancestorNode) => {
      return loadDataForNode(ancestorNode, 'get_ancestor_by_ancestor_id', 'потомки', loadDescendantsForAncestor, true);
    };

    const loadAncestorsForHouse = (houseNode) => {
      return loadDataForNode(houseNode, 'get_ancestor_by_id', 'предки', loadDescendantsForAncestor, true);
    };

    const loadHousesForClan = (clanNode) => {
      return loadDataForNode(clanNode, 'get_house_by_id', 'дома', loadAncestorsForHouse, true);
    };

    const loadClansForZhuz = (zhuzNode) => {
      return loadDataForNode(zhuzNode, 'get_clan_by_id', 'кланы', loadHousesForClan, false);
    };

    axios.get(`${SHEZIRE}/zhuzs/`)
      .then(async (response) => {
        for (const zhuz of response.data) {
          const zhuzNode = {
            label: zhuz.name,
            some_id: zhuz.id,
            children: []
          };
          await loadClansForZhuz(zhuzNode);
          treeData.children.push(zhuzNode);
        }
      })
      .catch(error => {
        console.error('Ошибка при загрузке жузов:', error);
      });

    return {
      treeData,
      selected,
      toggleSelect,
      treeOrientation
    };
  }
});
</script>
