<script setup>
import {ref} from "vue";

let title = ref('Taypa.kz'),
    organization = ref('ИП «Taypa.kz»'),
    navigate = ref('Навигация'),
    index = ref('Главная'),
    mainTree = ref('Шежире'),
    article = ref('Статьи'),
    profile = ref('Личный кабинет'),
    phoneNumber = ref('+7 (777) 837 23 15'),
    email = ref('taypakz@mail.kz'),
    articul = ref('© Taypa.kz, 2024'),
    confidentation = ref('Политика конфиденциальности'),
    location = ref('г. Астана, БЦ Премьер Алатау, Проспект Улы Дала 105, каб 311')
</script>

<template>
  <div class="Footer">
    <ul class="footer-nav">
      <li class="title">
        {{ $t('footer_title') }}
        <p class="description">{{ $t('footer_organization') }}</p>
      </li>
      <li class="web-card">
        {{ $t('footer_navigate') }}
        <ul class="list">
          <li>{{ $t('footer_index') }}</li>
          <li>{{ $t('footer_mainTree') }}</li>
          <li>{{ $t('footer_article') }}</li>
          <li>{{ $t('footer_profile') }}</li>
        </ul>
      </li>
      <li class="contact">
        {{ phoneNumber }}
        <p>{{ email }}</p>
        <ul class="social-network flex">
          <li class="social-network-item"><img src="@/assets/index/wp.png" alt=""></li>
          <li class="social-network-item"><img src="@/assets/index/tg.png" alt=""></li>
          <li class="social-network-item"><img src="@/assets/index/inst.png" alt=""></li>
        </ul>
      </li>
    </ul>
    <hr style="background-color: #FFFFFF80; margin-top: 25px">
    <ul class="footer-footer flex">
      <li class="footer-footer-item">{{ articul }}</li>
      <li class="footer-footer-item">{{ $t('footer_confidentation') }}</li>
      <li class="footer-footer-item">{{ $t('footer_location') }}</li>
    </ul>
  </div>
</template>

<style scoped>
.Footer {
  margin-top: 150px;
  background-color: #33374B;
  height: 300px;
  padding-left: 95px;
  padding-right: 135px;
  padding-top: 50px;
}

.footer-nav {
  display: flex;

}

.title {
  color: #FFFFFF;
  font-size: 23px;
  margin-right: 250px;

}

.web-card {
  color: #FFFFFF;
  font-size: 16px;
  font-family: Golos Text, serif;
}

.contact {
  color: #FFFFFF;
  font-size: 22px;
  font-family: Golos Text, serif;
  margin-left: auto;
  position: absolute;
  right: 135px;
}

.description {
  margin-top: 80px;
  color: #FFFFFFBF;
  font-size: 14px;
  font-family: Golos Text, serif;
}

.list {
  margin-top: 30px;
  font-family: Golos Text, serif;
  font-size: 14px;
  color: #FFFFFFBF;
}

.social-network {
  margin-top: 20px;
}

.social-network-item {
  margin-right: 5px;
}
.footer-footer{
  margin-top: 20px;
  font-family: Golos Text, serif;
  color: #FFFFFF80;
  gap: 445px;
}

</style>