<script setup>
import {onMounted, ref} from "vue";
import {getCurrentUserData, getCurrentUserId, isStaffUser, logout} from "@/connectApi.js";
import {useRouter} from "vue-router";
import switchLang from "@/components/switchLang.vue";

let title = ref('Taypa.kz'),
    indexPage = ref('Главная'),
    mainTree = ref('Шежире'),
    article = ref('Статьи'),
    profile = ref('Личный кабинет'),
    phaseTitle = ref('Создайте семейный шежире с Taypa.kz'),
    titleDescription = ref('Узнайте историю своего рода и внесите вклад в сохранение культурного наследия Казахстана'),
    registrationBtn = ref('Зарегистрироваться'),
    login = ref('Вход'),
    username = ref(''),
    userId = ref(''),
    isStaff = ref(false),
    isLoggedIn = ref(false);

const fetchUserData = async () => {
  isLoggedIn.value = localStorage.getItem('apiToken') !== null;
  if (isLoggedIn.value) {
    login.value = 'Выход';
    userId.value = await getCurrentUserId();
    await getCurrentUserData(username);
  }
};
let router = useRouter();

let hrefToMyTree = () => {
  router.push(`/mytree/${userId.value}`)
}

let hrefToProfile = () => {
  router.push(`/profile/${userId.value}`);
}
let hrefSetting = () => {
  router.push(`/profile/setting/${userId.value}`);
}
let hrefChangePass = () => {
  router.push(`/change-password/${userId.value}`);
}
fetchUserData()

onMounted(async () => {
  isStaff.value = await isStaffUser();
  console.log(isStaff.value);
  await fetchUserData();
});
</script>

<template>
  <div class="header">
    <div class="nav-bar">
      <ul class="nav-list">
        <li class="title"><h1><b><a href="/">{{ title }}</a></b></h1></li>
        <li class="nav-list-item"><b><a href="/">{{ $t('_indexpage') }}</a></b></li>
        <li class="nav-list-item"><b><a href="/tree">{{ $t('_maintree') }}</a></b></li>
        <li class="nav-list-item"><b><a href="/posts">{{ $t('_articles') }}</a></b></li>
        <li v-if="isStaff" class="nav-list-item"><b><a href="/edit">{{ $t('addarticle') }}</a></b></li>
        <li class="nav-list-item">
          <switchLang></switchLang>
        </li>

        <li class="nav-list-item profile"><b><a v-if="isLoggedIn" @click="hrefToProfile" href="#">{{ profile }}</a>
          <a v-else href="/login">{{ $t('_login') }}</a>
          <a v-if="isLoggedIn" @click="logout" style="margin-left: 10px;" href=#>{{ $t('_logout') }}</a>
        </b></li>

      </ul>
    </div>
    <div class="nav-menu flex flex-column">
      <div class="phoneAndPhoto">
        <img src="@/assets/index/Group_70.png" alt="" class="back-img-first">
        <img src="@/assets/index/Frame_77.png" alt="" class="back-img-second">
        <img src="@/assets/index/Group_72.png" alt="">
      </div>
      <div class="description-header">
        <img src="@/assets/index/Group_1.png" alt="">
        <h1 class="phase-title"><b>{{ $t('_phasetitle') }}</b></h1>
        <p class="titleDescription">{{ $t('_titledescription') }}</p>
        <p v-if="isLoggedIn"></p>
        <a v-else href="/registration" class="registrationBtn"><b>{{ $t('_register') }}</b></a>
      </div>
    </div>
  </div>
</template>

<style scoped>
.header {
  z-index: 0;
  height: 700px;
  background-color: #F7ECDA;
  background-image: url("@/assets/index/Vector.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #33374B;
}

.nav-list {
  display: flex;
  padding-top: 20px;
  margin-left: 95px;
}

.title {
  font-size: 23px;
  margin-right: 40px;
}

.nav-list-item {
  font-family: 'Golos Text', serif;
  padding-top: 10px;
  font-size: 14px;
  margin-right: 30px;
}

.nav-list-item.profile {
  margin-left: auto;
  margin-right: 95px;
}

.nav-list-item.profile a {
  gap: 10px;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #DABB8F;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #DABB8F;
  border-radius: 57px;
}

.nav-list-item a:hover {
  font-size: 15px;
}

.nav-menu {
  margin: 50px 95px 0;
  display: flex;
}

.phoneAndPhoto {
  margin-top: 16px;
  position: relative;
  z-index: 10;
}

.phoneAndPhoto img {
  margin-left: 150px;
}

.back-img-first {
  position: absolute;
  left: -100px;
  bottom: 217px;
  z-index: -1;
}

.back-img-second {
  position: absolute;
  left: 170px;
  bottom: 60px;
  z-index: -1;
}

.description-header {
  margin-left: 250px;
  margin-top: 20px;
}

.phase-title {
  margin-top: 20px;
  font-size: 50px;
  width: 700px;
  line-height: 1;
}

.titleDescription {
  margin-top: 20px;
  font-size: 20px;
  width: 370px;
  line-height: 1.2;
}

.registrationBtn {
  font-family: Golos Text, sans-serif;
  margin-top: 40px;
  font-size: 18px;
  display: inline-block;
  padding: 15px 30px;
  border: 1px solid #B9966E;
  background-color: #B9966E;
  text-decoration: none;
  border-radius: 94px;
  color: #FFFFFF;
  width: 276px;
  height: 60px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .phoneAndPhoto {
    margin-top: 16px;
    position: relative;
    z-index: 10;
  }

  .phoneAndPhoto img {
    margin-left: 95px;
  }

  .back-img-first {
    position: absolute;
    left: -100px;
    bottom: 217px;
    z-index: -1;
  }

  .back-img-second {
    position: absolute;
    left: 170px;
    bottom: 60px;
    z-index: -1;
  }

  .description-header {
    margin-left: 250px;
    margin-top: 20px;
  }

  .phase-title {
    margin-top: 20px;
    font-size: 50px;
    width: 700px;
    line-height: 1;
  }

  .titleDescription {
    margin-top: 20px;
    font-size: 20px;
    width: 370px;
    line-height: 1.2;
  }

  .registrationBtn {
    font-family: Golos Text, sans-serif;
    margin-top: 40px;
    font-size: 18px;
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid #B9966E;
    background-color: #B9966E;
    text-decoration: none;
    border-radius: 94px;
    color: #FFFFFF;
    width: 276px;
    height: 60px;
    text-align: center;
  }
}
</style>