<script setup>

import {ref} from "vue";

let title = ref('Всеказахстанское шежире – Taypa.kz'),
    description = ref('Внесите данные о себе и станьте причастными к общему древу'),
    blockTwoPOneTitle = ref('Отечественный продукт'),
    blockTwoPOneDescription = ref('Все данные хранятся на территории Казахстана'),
    blockTwoPTwoTitle = ref('История всех членов семьи'),
    blockTwoTwoDescription = ref('Узнайте о своих родственниках и расширьте семейные связи'),
    blockTwoPTreeTitle = ref('Поиск архивных документов'),
    blockTwoPTreeDescription = ref('Сохранение фотографии своих предков и их личных биографий');

</script>

<template>
  <div class="contentInfo">
    <div class="blockOne">
      <h1 class="title"><a href="">{{ $t('_title') }}</a></h1>
      <p class="description">{{ $t('_description') }}</p>
      <img src="@/assets/index/Phone.png" alt="" class="phoneImg">
    </div>
    <div class="blockTwo">
      <div class="topRow">
        <div class="blockTwoPOne">
          <img src="@/assets/index/Rectangle%20225.png" class="blockTwoPOneImg" alt="">
          <div class="DescriptionDiv">
            <img src="@/assets/index/Group_40250.png" class="blockTwoPOneImgIcon" alt="">
            <h4 class="blockTwoPOneTitle">{{ $t('_blocktwoponetitle') }}</h4>
            <p class="blockTwoPOneDescription">{{ $t('_blocktwoponedescription') }}</p>
          </div>
        </div>
        <div class="blockTwoPTwo">
          <img src="@/assets/index/Group_40251.png" class="blockTwoPTwoImgIcon" alt="">
          <h4 class="blockTwoPTwoTitle">{{ $t('_blocktwoptwotitle') }}</h4>
          <p class="blockTwoTwoDescription">{{ $t('_blocktwoptwodescription') }}</p>
        </div>
      </div>
      <div class="blockTwoPTree">
        <h4 class="blockTwoPTreeTitle">{{ $t('_blocktwopthreetitle') }}</h4>
        <p class="blockTwoPTreeDescription">{{ $t('_blocktwopthreedescription') }}</p>
        <img src="@/assets/index/img_24.png" alt="" class="blockTwoPTreeImgFirst">
        <img src="@/assets/index/Frame_79.png" alt="" class="blockTwoPTreeImgSecond">

      </div>
    </div>
  </div>
</template>


<style scoped>
.contentInfo {
  display: flex;
  margin: 30px 250px 20px;
}

.blockOne {
  width: 513px;
  height: 593px;
  background-color: #B9966E;
  border-radius: 15px;
  background-image: url("@/assets/index/Vector_2.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.title {
  padding-left: 40px;
  padding-top: 17px;
  padding-right: 40px;
  font-size: 45px;
  color: #FFFFFF;
  line-height: 1;
}

.description {
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  width: 343px;
  color: #FFFFFFBF;
}

.blockTwo {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.topRow {
  display: flex;
  gap: 10px;
}

.blockTwoPOne, .blockTwoPTwo {
  width: 313px;
  height: 274px;
  border-radius: 15px;
  background-repeat: no-repeat;
  margin-bottom: 18px;
}

.blockTwoPOne {
  background-image: url("@/assets/index/643408873062701.png");
}

.blockTwoPTwo {
  background-color: #F9F0E1;
  background-image: url("@/assets/index/Vector_3.png");
  background-position: right;
  z-index: 0;
}

.blockTwoPOneImg {
  border-radius: 15px;
  z-index: 5;
  position: absolute;
}

.DescriptionDiv {
  z-index: 10;
  position: absolute;
}

.blockTwoPOneImgIcon {
  margin-left: 25px;
  margin-top: 22px;
  border-radius: 15px;
  padding: 15px 9px;
  border: 1px solid #B9966E;
}

.blockTwoPOneTitle {
  margin-top: 50px;
  margin-left: 25px;
  color: #FFFFFF;
  font-size: 25px;
  width: 203px;
  line-height: 1;
}

.blockTwoPOneDescription {
  margin-top: 20px;
  margin-left: 25px;
  line-height: 1;
  color: #FFFFFFBF;
  font-size: 16px;
  font-family: Golos Text, sans-serif;
  width: 266px;
}

.blockTwoPTwoImgIcon {
  margin-left: 22px;
  margin-top: 22px;
  border-radius: 15px;
  padding: 15px 14px;
  border: 1px solid #B9966E;
}

.blockTwoPTwoTitle {
  margin-top: 50px;
  margin-left: 25px;
  line-height: 1;
  font-size: 25px;
  color: #33374B;
  width: 213px;

}

.blockTwoTwoDescription {
  margin-top: 20px;
  margin-left: 25px;
  line-height: 1;
  font-family: Golos Text, sans-serif;
  color: #33374BBF;
  width: 240px;
  font-size: 16px;
}

.blockTwoPTree {
  width: 637px;
  height: 300px;
  background-image: url("@/assets/index/Texturelabs_Paper_331S_1.png");
  background-repeat: no-repeat;
  border-radius: 15px;
  z-index: 0;
  position: relative;
}

.blockTwoPTreeTitle {
  font-size: 25px;
  margin-top: 25px;
  margin-left: 24px;
  color: #33374B;
  width: 361px;
}

.blockTwoPTreeDescription {
  margin-top: 25px;
  margin-left: 24px;
  color: #32384BBF;
  width: 304px;
  font-family: Golos Text, sans-serif;
  line-height: 1;
  font-size: 16px;
}

.blockTwoPTreeImgFirst {
  z-index: 10;
  top: 72px;
  left: 320px;
  position: absolute;
}

.blockTwoPTreeImgSecond {
  z-index: 5;
  position: absolute;
  top: 118px;
  left: 100px;
}
</style>
