<script setup>
import {ref} from "vue";
import TeamCard from "@/components/index/TeamCard.vue";

let title = ref('О проекте Taypa.kz'),
    goal = ref('Наша цель – сохранить культурное наследие Казахстана и передавать следующим поколениям.'),
    shareProject = ref('Поделиться проектом'),
    supportProject = ref('Поддержать проект'),
    supportText = ref('Мы ценим любую поддержку проекта. Можете поделиться сайтом или поддержать денежно');

</script>

<template>
  <div class="organization">
    <img src="@/assets/index/Group_1.png" alt="">
    <div class="textAbout flex justify-content-between">
      <div class="about">
        <h1 class="title">{{ $t('_about') }}</h1>
        <p class="goal">{{ $t('_goal') }}</p>
      </div>
      <div class="support">
        <div class="btnContent flex justify-content-between gap-5">
          <button class="shareProject btnProject">{{ $t('share') }}</button>
          <button class="supportProject btnProject">{{ $t('support') }}</button>
        </div>
        <p class="supportText goal">{{ $t('suptext') }}</p>
      </div>
    </div>
     <TeamCard/>
  </div>

</template>

<style scoped>
.organization {
  height: 700px;
  margin-top: 100px;
  padding-top: 54px;
  padding-right: 95px;
  padding-left: 95px;
  background-color: #33374B;
  background-image: url("@/assets/index/Group_40270.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.textAbout {
  margin-top: 25px;
  gap: 300px;
}

.about {
  width: 540px;
}

.title {
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 600;
}

.goal {
  font-size: 20px;
  color: #FFFFFF99;
  line-height: 1;
  margin-top: 10px;
  font-family: Golos Text, serif;
}

.support{
  margin-top: 15px;
}
.btnProject {
  border-radius: 80px;
  border: 1px solid #DABB8F;
    font-size: 16px;
    font-family: Golos Text, serif;
  font-weight: 600;
}

.shareProject {
  padding: 13px 34px 13px 34px;
  background-color: #DABB8F;
  color: #33374B;
}
.supportProject{
  padding: 13px 29px 13px 29px;
  color: #FFFFFF;
}
.supportText{
  margin-top: 25px;
  width: 478px;
  line-height: 1;
}
</style>