<script setup>
import {ref} from "vue";
import { globalData } from '@/global_numbers.js';

let statisticTitle = ref('Статистика регистраций'),
    hightZhuz = ref('Старший жуз'),
    middleZhuz = ref('Средний жуз'),
    youngZhuz = ref('Младший жуз'),
    otherItem = ref('Вне жуза'),
    hightZhuzNumber =ref(800),
    middleZhuzNumber =ref(0),
    youngZhuzNumber =ref(0),
    otherItemNumber =ref(0);

function getRandomNumber() {
  return Math.floor(Math.random() * 11);
}

function updateNumbers() {
  globalData.hightZhuzNumber.value += getRandomNumber();
  globalData.middleZhuzNumber.value += getRandomNumber();
  globalData.youngZhuzNumber.value += getRandomNumber();
  globalData.otherItemNumber.value += getRandomNumber();
}

setInterval(updateNumbers, 6000);


</script>

<template>
  <div class="statisticRegistration">
    <div class="menu">
      <h1 class="statisticTitle" style="margin-right: 70px"><b>{{ $t('staticreg') }}</b></h1>
      <ul class="flex">
        <li class="staticItem"><b>{{ $t('hZhuz') }}</b><p>{{globalData.hightZhuzNumber}}</p></li>
        <li class="staticItem"><b>{{ $t('mZhuz') }}</b><p>{{globalData.middleZhuzNumber}}</p></li>
        <li class="staticItem"><b>{{ $t('yZhuz') }}</b><p>{{globalData.youngZhuzNumber}}</p></li>
        <li class="staticItem"><b>{{ $t('_otheritem') }}</b><p>{{globalData.otherItemNumber}}</p></li>
      </ul>
    </div>
  </div>
</template>

<style scoped>
.statisticRegistration {
  margin: 30px 95px 20px;
}

.menu {
  display: flex;
}

.statisticTitle {
  color: #33374B;
  font-size: 30px;
  width: 222px;
  line-height: 1;
}

.staticItem {
  margin-left: 35px;
  margin-right: 35px;
  font-family: Golos Text,serif;
  font-size: 14px;
  color: #32384B80;
  border-left: 1px solid #32384B1A;
  padding-left: 100px;
  padding-right: 50px;
}
.staticItem p{
  color: #B9966E;
  text-align: center;
  font-size: 47px;
}
</style>