<script setup>
import {ref} from "vue";

let title = ref('Ответьте на 3 вопроса, добавьте себя в Taypa.kz'),
    description = ref('Внесите данные о себе и станьте причастными к общему древу шежире'),
    goTest = ref('Пройти тест');
</script>

<template>
  <div class="survey">
    <img src="@/assets/index/Group_40259.png" alt="" class="pattern_1">
    <img src="@/assets/index/Group%20_40258.png" alt="" class="pattern_2">
    <img src="@/assets/index/Frame _772.png" alt="" class="pattern_3">
    <img
        src="@/assets/index/oljk_triangle_one_kazakh_leather_talisman_clean_white_backgroun_e664fa80-93b0-4750-90bc-e5722abbc9f1 1.png"
        alt="" class="pattern_4">
    <h1 class="title">{{ $t('surtitle') }}</h1>
    <p class="description">{{ $t('surdesc') }}</p>
    <button class="goTest" type="button">{{ $t('_gotest') }}</button>


  </div>
</template>

<style scoped>
.survey {
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 275px;
  background-color: #F9F0E1;
  border-radius: 20px;
  height: 349px;
  z-index: 0;
  position: relative;
  text-align: center;
}

.pattern_1 {
  z-index: 5;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 20px;
}

.pattern_2 {
  z-index: 5;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 20px;
}

.pattern_3 {
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 20px;
}

.pattern_4 {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
}

.title {
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 40px;
  font-size: 45px;
  color: #33374B;
  line-height: 1;
  font-weight: 600;
  text-align: center;
}

.description {
  margin-left: 400px;
  padding-top: 20px;
  font-size: 16px;
  text-align: center;
  color: #32384BBF;
  width: 370px;
  line-height: 1;
}
.goTest{
  margin-top: 30px;
  width: 275px;
  height: 60px;
  background-color: #B9966E;
  border-radius: 94px;
  color: #FFFFFF;
  font-family: Golos Text,serif;
  font-size: 18px;
  font-weight: 600;

  text-align: center;
}
</style>