<script setup>
import {ref} from "vue";

import member1Image from '@/assets/index/photo_5474608428266675577_y.png';
import member2Image from '@/assets/index/photo_5474608428266675577_y_2.png';
import member3Image
  from '@/assets/index/oljk_minimalistic_professional_studio_photo_of_happy_kazakh_mil_9d57a589-e54a-4eea-8313-162edda4e79b 1.png';
import member4Image
  from '@/assets/index/oljk_minimalistic_professional_studio_photo_of_kazakh_milenial__90b76d38-635e-485e-8d08-981f384b22c7 2.png';

let teamMembers = ref([
  {
    name: 'Мухаммедали Казакбай',
    role: 'Основатель',
    quote: '“Журттан калмайык, тайпакзны колдайык”',
    image: member1Image
  },
  {
    name: 'Олжас Какимжанов',
    role: 'Дизайнер',
    quote: '“Журттан калмайык, тайпакзны колдайык”',
    image: member2Image
  },
  {
    name: 'Мухаммедали Казакбай',
    role: 'Разработчик',
    quote: '“Журттан калмайык, тайпакзны колдайык”',
    image: member3Image
  },
  {
    name: 'Мухаммедали Казакбай',
    role: 'Разработчик',
    quote: '“Журттан калмайык, тайпакзны колдайык”',
    image: member4Image
  },
  {
    name: 'Мухаммедали Казакбай',
    role: 'Разработчик',
    quote: '“Журттан калмайык, тайпакзны колдайык”',
    image: member4Image
  }
]);
</script>

<template>
  <div class="team">
    <div v-for="member in teamMembers" :key="member.name" class="teamMember"
         :style="{ backgroundImage: `url(${member.image})` }">
      <img src="@/assets/index/Rectangle_238.png" alt="" class="rectangle">
      <div class="info">
        <p class="role">{{ member.role }}</p>
        <h4 class="name">{{ member.name }}</h4>
        <p class="quote">{{ member.quote }}</p>
      </div>
    </div>
  </div>
</template>

<style scoped>
.team {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.teamMember {
  width: 280px;
  height: 334px;
  border-radius: 10px;
  z-index: 0;
  position: relative;
}

.rectangle {
  z-index: 5;
  position: absolute;
  border-radius: 10px;
  bottom: 0;

}

.info {
  z-index: 10;
  position: absolute;
  margin-left: 19px;
}

.role {
  margin-top: 220px;
  border: 1px solid #DABB8F;
  font-size: 10px;
  padding: 5px 12px;
  display: inline-block;
  border-radius: 80px;
  text-align: center;
  color: #FFFFFF;
}

.name {
  font-size: 16px;
  font-family: Golos Text, serif;
  font-weight: 600;
  margin-top: 5px;
  color: #FFFFFF;
}
.quote{
  font-size: 16px;
  font-family: Golos Text, serif;
  font-weight: 400;
  margin-top: 5px;
  color: #FFFFFFBF;
  width: 238px;
  line-height: 1;
}
</style>