<template>
  <div id="app">
    <router-view></router-view> <!-- Этот элемент будет отображать компоненты маршрутов -->
  </div>
</template>

<script>
import { globalData } from './global_numbers.js';
export default {
  name: 'App'


}
</script>

<style>
/* Стили вашего приложения */
</style>