<script setup>
import {ref} from 'vue';
import {useRouter} from "vue-router";
import axios from "axios";
import {baseUser, APIURL, getCsrfToken, getAuthToken} from "@/connectApi.js";
import {useI18n} from "vue-i18n";

const { t } = useI18n();

let article = ref('Посты'),
    login = ref('Вход'),
    errorMessage = ref(''),
    router = useRouter(),
    email = ref(''),
    password = ref(''),
    registerText = ref('Нет аккаунта?');

let goBack = () => {
  if (router.currentRoute.value.path === '/current-page') {
    router.push('/');
  } else {
    router.back();
  }
};

let handleSubmit = () => {
    let csrfToken = getCsrfToken(),
        headers = {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrfToken
    };
    const data = {
      username: email.value,
      password: password.value
    };
    axios.post(`${APIURL}/login/`, data, {
      headers: headers
    }).then(response => {
      console.log(response)
      localStorage.setItem('apiToken', response.data.token);
      router.back();
    }).catch(error => {
      errorMessage.value = t('logerr');
    })
};
</script>


<template>
  <div class="fixed top-0 left-0 h-full w-full bg-black z-10 opacity-50"></div>
  <div class="loginDiv w-1/3 h-full fixed right-0 top-0 z-20 p-8">
    <button class="size-12 px-4 rounded text-white w-auto bg-red-500" @click="goBack">{{ $t('_goback') }}</button>

    <h1 class="text-center text-6xl">{{ $t('_login') }}</h1>
    <form class="my-52" @submit.prevent="handleSubmit">
      <div class="mb-4 text-center">
        <input v-model="email" class="size-20 p-1 rounded border border-gray-300 w-full h-12" type="text"
               :placeholder="$t('p_email')" required>
      </div>
      <div class="mb-4 text-center">
        <input v-model="password" class="size-20 p-1 rounded border border-gray-300 w-full h-12" type="password"
               :placeholder="$t('p_pass')" required>
      </div>
      <p class="text-red-500">{{ errorMessage }}</p>
      <div class="text-center">
        <button class="size-12 px-4 rounded text-white w-auto" type="submit">{{ $t('_login') }}</button>
      </div>
    </form>
    <p>{{ $t('noacc') }} <a href="/registration" class="text-center">{{ $t('_reg') }}</a></p><p><a href="/reset-password">{{ $t('f_pass') }}</a></p>
  </div>
</template>

<style scoped>
.loginDiv {
  background: #fbf6f5;
}

button {
  background: #ba7264;
}
a{
  color: #0e86ef;
}
</style>
