<script setup>
import {ref} from 'vue';
import {useRouter} from "vue-router";
import axios from "axios";
import {baseUser, APIURL, getCsrfToken, getAuthToken, ACCOUNT} from "@/connectApi.js";
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

let article = ref('Посты'),
    registration = ref('Зарегистрироваться'),
    errorMessage = ref(''),
    router = useRouter(),
    email = ref(''),
    phone = ref('');
let goBack = () => {
  if (router.currentRoute.value.path === '/current-page') {
    router.push('/');
  } else {
    router.back();
  }
};
//
let RegisterSubmit = () => {
    let csrfToken = getCsrfToken(),
        headers = {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrfToken
    }, formData = {
      email: email.value,
      phone: phone.value
    };
    axios.post(`${ACCOUNT}/users/`, formData, {
      headers: headers
    }).then(response => {
      console.log(response)
      router.back();
    }).catch(error => {
      errorMessage.value = t('reg_error');
    })
};
</script>


<template>
  <div class="fixed top-0 left-0 h-full w-full bg-black z-10 opacity-50"></div>
  <div class="loginDiv w-1/3 h-full fixed right-0 top-0 z-20 p-8">
    <button class="size-12 px-4 rounded text-white w-auto bg-red-500" @click="goBack">{{$t('_goback')}}</button>

    <h1 class="text-center text-6xl">{{ $t('_register') }}</h1>
    <form class="my-52" @submit.prevent="RegisterSubmit">
      <div class="mb-4 text-center">
        <input v-model="email" class="size-20 p-1 rounded border border-gray-300 w-full h-12" type="text"
               :placeholder="$t('p_email')" required>
      </div>
      <div class="mb-4 text-center">
        <input v-model="phone" class="size-20 p-1 rounded border border-gray-300 w-full h-12" type="text"
               :placeholder="$t('_phone')" required>
      </div>
      <p class="text-red-500">{{ errorMessage }}</p>
      <div class="text-center">
        <button class="size-12 px-4 rounded text-white w-auto" type="submit">{{$t('_register')}}</button>
      </div>
    </form>
  </div>
</template>

<style scoped>
.loginDiv {
  background: #fbf6f5;
}

button {
  background: #ba7264;
}
</style>
