<script setup>
import router from "@/router.js";
import { ref } from "vue";
import { ACCOUNT, getCsrfToken, getIdFromUrl } from "@/connectApi.js";
import axios from "axios";

let newPassword = ref(''),
    confirmNewPassword = ref(''),
    errorMessage = ref(''),
    hash = getIdFromUrl();

let goBack = () => {
  if (router.currentRoute.value.path === '/current-page') {
    router.push('/');
  } else {
    router.back();
  }
};

let changePass = async () => {
  if (newPassword.value === confirmNewPassword.value) {
    let formData = {
      reset_password_token: hash,
      new_password: newPassword.value
    };
    let csrfToken = getCsrfToken();
    let headers = {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrfToken
    };

    try {
      let response = await axios.post(`${ACCOUNT}/reset_password/`, formData, { headers });
      console.log(response);
      if (response.status === 200) {
      } else {
        errorMessage.value = response.data.error || 'An error occurred';
      }
    } catch (error) {
      console.log(error);
      errorMessage.value = error.response?.data?.error || 'An error occurred';
    }
  } else {
    errorMessage.value = 'Passwords do not match';
  }
};
</script>

<template>
  <div class="fixed top-0 left-0 h-full w-full bg-black z-10 opacity-50"></div>
  <div class="loginDiv w-1/3 h-full fixed right-0 top-0 z-20 p-8">
    <button class="size-12 px-4 rounded text-white w-auto bg-red-500" @click="goBack">Назад</button>

    <form class="my-52" @submit.prevent="changePass">
      <div class="mb-4 text-center">
        <input v-model="newPassword" class="size-20 p-1 rounded border border-gray-300 w-full h-12" type="password"
               placeholder="Введите ваш пароль" required>
      </div>
      <div class="mb-4 text-center">
        <input v-model="confirmNewPassword" class="size-20 p-1 rounded border border-gray-300 w-full h-12"
               type="password"
               placeholder="Введите ваш пароль" required>
      </div>
      <p class="text-red-500">{{ errorMessage }}</p>
      <div class="text-center">
        <button class="size-12 px-4 rounded text-white w-auto" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</template>

<style scoped>
.loginDiv {
  background: #fbf6f5;
}

button {
  background: #ba7264;
}
a {
  color: #0e86ef;
}
</style>
