<script setup>
import router from "@/router.js";
import {ref} from "vue";
import axios from "axios";
import {ACCOUNT, getCsrfToken} from "@/connectApi.js";

let email = ref(''),
    errorMessage = ref('');

let getUser = () => {
  let formData = {
    email: email.value
  },
      csrfToken = getCsrfToken(),
      headers = {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrfToken
      };
  axios.post(`${ACCOUNT}/send-mail-reset_password/`, formData, {headers: headers}).then(response => console.log(response)).catch(error => console.log(error));
};

let goBack = () => {
  if (router.currentRoute.value.path === '/current-page') {
    router.push('/');
  } else {
    router.back();
  }
};
</script>

<template>
  <div class="fixed top-0 left-0 h-full w-full bg-black z-10 opacity-50"></div>
  <div class="loginDiv w-1/3 h-full fixed right-0 top-0 z-20 p-8">
    <button class="size-12 px-4 rounded text-white w-auto bg-red-500" @click="goBack">Назад</button>

    <form class="my-52" @submit.prevent="getUser">
      <div class="mb-4 text-center">
        <input v-model="email" class="size-20 p-1 rounded border border-gray-300 w-full h-12" type="text"
               placeholder="Введите ваш email" required>
      </div>
      <p class="text-red-500">{{ errorMessage }}</p>
      <div class="text-center">
        <button class="size-12 px-4 rounded text-white w-auto" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</template>

<style scoped>
.loginDiv {
  background: #fbf6f5;
}

button {
  background: #ba7264;
}
a{
  color: #0e86ef;
}
</style>