<script setup>
import Header from '@/components/index/Header.vue'
import StatisticReg from '@/components/index/StatisticReg.vue'
import Info from "@/components/index/Info.vue";
import Footer from "@/components/index/Footer.vue";
import Survey from "@/components/index/Survey.vue";
import Organization from "@/components/index/Organization.vue";
</script>

<template>
  <Header/>
  <StatisticReg/>
  <Info/>
  <Survey/>
  <Organization/>
  <Footer/>
</template>

<style scoped>

</style>