<script setup>
import Header from "../../components/header.vue";
import ChangePassword from "../../components/profile/ChangePassword.vue";
import Footer from "@/components/index/Footer.vue";
</script>

<template>
  <Header/>
  <ChangePassword/>
  <Footer/>
</template>

<style scoped>

</style>