<template>
  <Header/>
  <Profile/>
    <Footer/>
</template>

<script setup>
import Header from "../../components/header.vue";
import Profile from "../../components/profile/profileBody.vue"
import Footer from "@/components/index/Footer.vue";
</script>

<style scoped>
</style>
