<script setup>
import Header from "../../components/header.vue";
import Footer from "@/components/index/Footer.vue";
import Setting from "@/components/profile/SettingProfile.vue"
</script>

<template>
  <Header/>
  <Setting/>
  <Footer/>
</template>

<style scoped>

</style>
